# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyCharm files
.idea/

# Instance Folder - used for configuration parameters
/instance
/remote

# Tests folder
/code/tests

# Venv folder
/venv
/unused.txt

# web related stuff
/base/static/css
/base/static/img
/base/static/assets/
