# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyCharm files
.idea/

# Instance Folder - used for configuration parameters
/instance
/remote

# Tests folder
/code/tests

# web related stuff
/base/static/lib
/base/static/fonts
/base/static/css
/base/static/img

# documents related
/base/templates/responsible_new
/base/templates/docs

# Venv folder
/venv
/unused.txt
