# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyCharm files
.idea/

# Instance Folder - used for configuration parameters
/instance
/remote

# Tests folder
/code/tests

# Static folder
#/code/static

# Venv folder
/venv
/unused.txt
