Babel==2.17.0
Flask==3.1.1
Flask_Caching==2.3.1
Flask_Login==0.6.3
flask_mail==0.10.0
flask_sqlalchemy==3.1.1
flask_wtf==1.2.2
paramiko==3.5.1
parsedatetime==2.6
SQLAlchemy==2.0.41
weasyprint==65.1
webdavclient3==3.14.6
Werkzeug==3.1.5
WTForms==3.2.1