{% extends "base.html" %}
{% block head %}
    <script src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment-with-locales.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/admin.js') }}"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/datatables.min.css') }}"/>


    <script defer type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/js/components/accordion.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/css/components/accordion.gradient.min.css" />
    <style>
        .ext_info{
          background-color: #ddd !important;
        }
    </style>

{% endblock %}
{% block main %}
<div class="uk-panel uk-width-1-1 uk-panel-space uk-overflow-container">
    <div class="uk-accordion" data-uk-accordion id="accordion">

        <h3 class="uk-accordion-title">General information</h3>
        <div class="uk-accordion-content">

            <div class="uk-panel uk-width-1-1 uk-panel-space uk-text-center uk-panel-hover uk-margin-bottom" style="height: 120px;" id="tasks_info">
                <p class="uk-h2 uk-text-nowrap">Pending tasks:
                {% if data.tasks and data.tasks|length > 0 %}
                    <a class="task_show" id="taks_queue_length">{{data.tasks|length}}</a></p>
                {% else %}
                    <a class="task_show" id="taks_queue_length">0</a></p>
                {% endif %}
                <div class="uk-button-group uk-hidden" id="task_btn_group">
                        <button class="uk-button task_history uk-button-small"><span class="uk-icon-history uk-margin-small-right"></span>History</button>
                        <button class="uk-button task_reload uk-button-small"><span class="uk-icon-refresh uk-margin-small-right"></span>Reload</button>
                        <button class="uk-button task_manage uk-button-small uk-button-danger"><span class="uk-icon-edit uk-margin-small-right"></span>Edit</button>
                </div>
            </div>
            <div class="uk-grid">
                <div class="uk-width-small-1-1 uk-width-medium-1-2 ">
                    <table id="overvieww" class="uk-table uk-table-hover uk-table-striped uk-table-condensed">
                        <thead>
                            <tr>
                                <th data-priority="1">Partition</th>
                                <th data-priority="2">Allocated</th>
                                <th data-priority="3">Idle</th>
                                <th data-priority="4">Other</th>
                                <th data-priority="5">Total</th>
                            </tr>
                        </thead>
                        <tbody id="slurm">
                            {% for part in data.partition|sort(attribute='total', reverse=True) %}
                            <tr>
                                <td>{{part.name}}</td>
                                <td>{{part.allocated}}</td>
                                <td>{{part.idle}}</td>
                                <td>{{part.other}}</td>
                                <td>{{part.total}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <button class="uk-button uk-width-1-1 uk-button-small uk-margin-small-bottom slurm_reload"><span class="uk-icon-refresh uk-margin-small-right"></span>&nbsp;Reload</button>
                </div>
                <div class="uk-margin-top uk-width-small-1-1 uk-hidden-medium uk-hidden-large">
                </div>
                <div class="uk-width-small-1-1 uk-width-medium-1-2">
                    <div class="uk-panel uk-width-1-1 uk-panel-box uk-clearfix">
                        <button class="uk-button uk-button-small uk-float-right system_reload"><span class="uk-icon-refresh uk-margin-small-right"></span>Reload</button>
                        <div id="system_body">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if data.extension %}
        <h3 class="uk-accordion-title">Pending projects</h3>
        <div class="uk-accordion-content uk-overflow-container" id="pending_content">
            <table id="new_projects_table" class="uk-table uk-table-striped uk-table-condensed">
                <tbody id="ext_result_records">
                    {% for record in data.extension|sort(attribute='id', reverse=True) %}
                        <tr id="{{record.id}}">
                            <td class="uk-width-1-10"><button class="uk-button uk-button-mini new_project" type="button" data-id='{{record.id}}-info'><span class="uk-icon-plus"></span></button></td>
                            <td class="uk-width-4-10">{{record.title}}</td>
                            <td class="uk-width-2-10">{{record.responsible_first_name}}&nbsp;{{record.responsible_last_name}}</td>
                            <td class="uk-width-1-10">{{record.cpu}}</td>
                            <td class="uk-width-2-10">{{record.ts}}</td>
                        </tr>
                        <tr id="{{record.id}}-info" class="ext_info uk-hidden uk-text-center">
                            <td colspan="5">
                                <table id="info_table" class="uk-table">
                                    <tbody>
                                        <tr class="ext_info">
                                            <td class="uk-width-1-10 uk-text-right">Project type:</td>
                                            <td class="uk-width-9-10 uk-text-left">
                                                {% if record.type_a %}
                                                    <strong>A</strong>
                                                {% elif record.type_b %}
                                                    <strong>B</strong>
                                                {% elif record.type_c%}
                                                    <strong>C</strong>
                                                {% elif record.type_e%}
                                                    <strong>E</strong>
                                                {% elif record.type_h%}
                                                    <strong>H</strong>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr class="ext_info">
                                            <td class="uk-width-1-10 uk-text-right">CPU:</td>
                                            <td class="uk-width-9-10 uk-text-left">{{record.cpu}}</td>
                                        </tr>
                                        <tr class="ext_info">
                                            <td class="uk-width-1-10 uk-text-right">Responsible:</td>
                                            <td class="uk-width-9-10 uk-text-left">
                                                <ul>
                                                    {% if record.responsible_first_name and record.responsible_last_name %}
                                                        <li>{{record.responsible_first_name}} {{record.responsible_last_name}}</li>
                                                    {% endif %}
                                                    {% for i in [record.responsible_position, record.responsible_lab, record.responsible_email, record.responsible_phone] %}
                                                        {% if i %}
                                                            <li>{{i}}</li>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            </td>
                                        </tr><tr class="ext_info">
                                            <td class="uk-width-1-10 uk-text-right">Users:</td>
                                            <td class="uk-width-9-10 uk-text-left">
                                                <ul>
                                                {% for user in record.users %}
                                                    <li>
                                                        {{user["name"]}} {{user["last"]}} &lt;{{user["mail"]}}&gt;
                                                        {% if user["login"] %}
                                                        [{{user["login"]}}]
                                                        {% endif %}
                                                    </li>
                                                {% endfor %}
                                                </ul>
                                            </td>
                                        </tr><tr class="ext_info">
                                            <td class="uk-width-1-10 uk-text-right">Description:</td>
                                            <td class="uk-width-9-10 uk-text-left">{{record.description}}</td>
                                        </tr><tr class="ext_info">
                                            <td class="uk-width-1-10 uk-text-right">Scientific&nbsp;fields:</td>
                                            <td class="uk-width-9-10 uk-text-left">{{record.scientific_fields}}</td>
                                        </tr><tr class="ext_info">
                                            <td class="uk-width-1-10 uk-text-right">Genci:</td>
                                            <td class="uk-width-9-10 uk-text-left">{{record.genci_committee}}</td>
                                        </tr><tr class="ext_info">
                                            <td class="uk-width-1-10 uk-text-right">Methods:</td>
                                            <td class="uk-width-9-10 uk-text-left">{{record.numerical_methods}}</td>
                                        </tr><tr class="ext_info">
                                            <td class="uk-width-1-10 uk-text-right">Resources:</td>
                                            <td class="uk-width-9-10 uk-text-left">{{record.computing_resources}}</td>
                                        </tr><tr class="ext_info">
                                            <td class="uk-width-1-10 uk-text-right">Management:</td>
                                            <td class="uk-width-9-10 uk-text-left">{{record.project_management}}</td>
                                        </tr><tr class="ext_info">
                                            <td class="uk-width-1-10 uk-text-right">Motivation:</td>
                                            <td class="uk-width-9-10 uk-text-left">{{record.project_motivation}}</td>
                                        </tr><tr class="ext_info">
                                            <td class="uk-width-1-10 uk-text-right">Articles:</td>
                                            <td class="uk-width-9-10 uk-text-left">
                                                <ul>
                                                {% for i in [record.article_1, record.article_2, record.article_3, record.article_4, record.article_5]%}
                                                    {% if i %}
                                                        <li>{{i}}</li>
                                                    {% endif %}
                                                {% endfor %}
                                                </ul>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="uk-button-group uk-float-right">
                                    <button class="uk-button new_accept" type="button" data-id='{{record.id}}' data-meso='{{record.meso_id}}' data-title='{{record.title}}'><span class="uk-icon-thumbs-o-up uk-margin-small-right"></span>Accept</button>
                                    <button class="uk-button new_ignore" type="button" data-id='{{record.id}}' data-meso='{{record.meso_id}}' data-title='{{record.title}}'><span class="uk-icon-thumbs-o-down uk-margin-small-right"></span>Ignore</button>
                                    <button class="uk-button new_reject uk-button-danger" type="button" data-id='{{record.id}}' data-meso='{{record.meso_id}}' data-title='{{record.title}}'><span class="uk-icon-thumbs-down uk-margin-small-right"></span>Reject</button>
                                </div>
                                {% if record.responsible_email %}
                                <div class="uk-button-group uk-float-left">
                                    <button class="uk-button message" type="button" data-id='{{record.id}}' data-addr='{{record.responsible_email}}'><span class="uk-icon-send uk-margin-small-right"></span>Contact</button>
                                </div>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}

        {% if data.users %}
            {% set long=[] %}
            {% set short=[] %}
            {% for key in data.users.keys() %}
                {% if key | length > 1 %}
                    {{ long.append(key) or '' }}
                {% else %}
                    {{ short.append(key) or '' }}
                {% endif %}
            {% endfor %}
            {% set long = long | sort %}
            {% set short = short | sort %}
            {% set every = long+short%}

        <h3 class="uk-accordion-title">
            Users
            <button class="uk-float-right uk-button uk-button-small user_add" type="button">
                <span class="uk-icon-user-plus"></span>
                Add user
            </button>
        </h3>
        <div class="uk-accordion-content">
            <div class="uk-grid">
                <div class="uk-width-small-1-1 uk-width-medium-1-3">
                    <ul class="uk-nav uk-nav-side" data-uk-switcher="{connect:'#userz'}">
                        {% for key in every %}
                            {% if key in ["admin", "responsible", "user"] %}
                                <li><a href="#" class="uk-text-capitalize">{{ key }}s</a></li>
                            {% else %}
                                <li><a href="#" class="uk-text-capitalize">{{ key }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="uk-width-small-1-1 uk-width-medium-2-3">

                    <ul id="userz" class="uk-switcher">
                        {% for key in every %}
                            <li>
                                <table class="uk-table uk-table-hover uk-table-striped uk-table-condensed">
                                    <thead>
                                        <tr>
                                            <th data-priority="1">Login</th>
                                            <th data-priority="5">Name</th>
                                            <th data-priority="6">Surname</th>
                                            <th data-priority="4">Active</th>
                                            <th data-priority="2"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for user in data.users[key] %}
                                            <tr id="ue_rec_{{user.id}}">
                                                <td>{{user.login}}</td>
                                                <td class="uk-text-capitalize">{{user.name}}</td>
                                                <td class="uk-text-capitalize">{{user.surname}}</td>
                                                <td>
                                                {% if user.status %}
                                                    <span class="uk-icon-check"></span>
                                                {% endif %}
                                                </td>
                                                <td>
                                                    <div class="uk-button-group uk-float-right">
                                                        <button class="uk-button uk-button-mini user_edit" type="button" data-id='{{user.id}}'><span class="uk-icon-cog"></span></button>
                                                        <button class="uk-button uk-button-mini user_block uk-text-danger" type="button" data-id='{{user.id}}' data-login='{{user.login}}'><span class="uk-icon-ban"></span></button>
                                                        <button class="uk-button uk-button-mini user_purge uk-button-danger" type="button" data-id='{{user.id}}' data-login='{{user.login}}'><span class="uk-icon-close"></span></button>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                    </table>
                                </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endif %}

        <h3 class="uk-accordion-title">Endpoint Access Control List</h3>
        <div class="uk-accordion-content">
        </div>

    </div>
</div>
{% endblock %}

{% block last %}
<div id="user_change" class="uk-modal fade" tabindex="-1" role="dialog" aria-labelledby="confirm-modal" aria-hidden="true">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
        <div class="uk-overflow-container">
            <form id="ue_form" action="test" method="post" class="uk-panel uk-panel-box uk-form">
                {{ form.csrf_token }}
                {{ form.uid(id="ua_id") }}
                <div class="uk-form-row">
                    {{ form.login(placeholder="username", class_="uk-width-1-1 uk-form-large", id="ua_login") }}
                </div>
                <div class="uk-form-row">
                    {{ form.name(placeholder="name", class_="uk-width-1-1 uk-form-large uk-text-capitalize", id="ua_name") }}
                </div>
                <div class="uk-form-row">
                    {{ form.surname(placeholder="surname", class_="uk-width-1-1 uk-form-large uk-text-capitalize", id="ua_surname") }}
                </div>
                <div class="uk-form-row">
                    {{ form.email(placeholder="email", class_="uk-width-1-1 uk-form-large", id="ua_email") }}
                </div>
                <div class="uk-form-row">
                    <button class="uk-button uk-align-center name_swap" type="button">
                        <span class=" uk-margin-small-right uk-icon-retweet"></span>
                        Swap name and surname
                    </button>
                </div>
                <div class="uk-form-row">
                    {{ form.active(placeholder="active", id="ua_active") }} Active user?
                </div>

                <div class="uk-form-row">
                    <div>{{ form.is_user(id="ua_user") }} User</div>
                    <div>{{ form.is_responsible(id="ua_resp") }} Responsible</div>
                    <div>{{ form.is_committee(id="ua_comm") }} Scientific committee</div>
                    <div>{{ form.is_admin(id="ua_admn") }} Admin</div>
                </div>
            </form>
        </div>
        <div class="uk-modal-footer uk-text-right">
            <button class="uk-button js-modal-confirm-cancel ue_cancel">Cancel</button>
            <button class="uk-button uk-button-primary js-modal-confirm ue_submit">Submit</button>
        </div>
    </div>
</div>
{% endblock %}