{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/datatables.min.css') }}"/>

    <script src="{{ url_for('static', filename='assets/datatables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/uikit/js/components/datepicker.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/chart.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/moment-with-locales.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/admin.js') }}"></script>

    <style>
        .uk-table td, .uk-table th {
            border-bottom: 0px !important;
        }
        td.details-control {
            cursor: pointer;
        }
        .hide {
            display: none;
        }
        div.slider {
            display: none;
        }
        .ext_info{
          background-color: #ddd !important;
        }
        table.dataTable tbody td.no-padding {
            padding: 0;
        }
        table.dataTable thead th {
            border-bottom: 0 !important;
            text-align: left;
        }
        table.dataTable tfoot th {
            border-top: 0 !important;
        }
        table.dataTable.no-footer {
            border-bottom: 0;
        }
        div.dt-buttons {
            float: right;
        }
    </style>

{% endblock %}
{% block main %}

{% if "admin" in g.permissions %}

    <div class="uk-panel uk-grid-width-small-1-1 uk-width-medium-1-3 uk-panel-space uk-margin-bottom" id="tasks_info">
        <p class="uk-h2 uk-text-nowrap">Pending tasks:
        {% if data.tasks and data.tasks|length > 0 %}
            <a id="task_queue_length">{{data.tasks|length}}</a>
        {% else %}
            <a id="task_queue_length">0</a>
        {% endif %}
        </p>
    </div>

    <div class="uk-grid-width-small-1-1 uk-width-medium-2-3 uk-text-center uk-padding-remove uk-margin-bottom" style="border: 1px solid #ddd;">
        <canvas id="accounting"></canvas>
    </div>

    <div class="uk-width-small-1-1 uk-width-medium-1-2 uk-margin-top uk-padding-remove">
        <table id="overview" class="display compact nowrap" data-order='[[ 4, "desc" ]]'>
            <thead>
                <tr>
                    <th>Partition</th>
                    <th>Allocated</th>
                    <th>Idle</th>
                    <th>Other</th>
                    <th>Total</th>
                </tr>
            </thead>
        </table>
    </div>

    <div class="uk-width-small-1-1 uk-width-medium-1-2 uk-margin-large-top">
        <table id="disk_space" class="display compact nowrap" data-order='[[ 0, "asc" ]]'>
            <thead>
                <tr>
                    <th>Mount</th>
                    <th>Size</th>
                    <th>Used</th>
                    <th>Available</th>
                    <th>Use</th>
                    <th>Filesystem</th>
                </tr>
            </thead>
        </table>
    </div>

    <div class="uk-width-small-1-1 uk-width-medium-1-2 uk-margin-large-top uk-padding-remove">
        <table id="sinfo" class="display compact" data-order='[[ 2, "desc" ]]'>
            <thead>
                <tr>
                    <th>Node</th>
                    <th>Reason</th>
                    <th>Since</th>
                    <th>Status</th>
                </tr>
            </thead>
        </table>
    </div>

    <!--<div class="uk-panel uk-width-small-1-1 uk-width-medium-1-2 uk-panel-space uk-margin-bottom uk-grid uk-hidden" id="system_info">-->
    <div class="uk-panel uk-width-small-1-1 uk-width-medium-1-2 uk-panel-space uk-margin-bottom uk-grid" id="system_info">
        {% for name in data.servers %}
            <div class="uk-width-medium-1-1">
                <span class="uk-text-bold uk-text-nowrap" id="{{ name }}_server"></span>: <span id="{{ name }}_uptime"></span>
            </div>
            <canvas class="uk-width-medium-1-1" id="{{ name }}_graph"></canvas>
            <div class="uk-width-medium-1-2">
                <table class="uk-table uk-width-medium-1-2">
                    <tbody>
                        <tr>
                            <td class="uk-text-right uk-text-nowrap"><span class="uk-text-bold">Load</span> last minute:</td>
                            <td id="{{ name }}_load_1"></td>
                        </tr><tr>
                            <td class="uk-text-right uk-text-nowrap">last 5 minutes:</td>
                            <td id="{{ name }}_load_5"></td>
                        </tr><tr>
                            <td class="uk-text-right uk-text-nowrap">last 15 minutes:</td>
                            <td id="{{ name }}_load_15"></td>
                        </tr><tr>
                            <td class="uk-text-right uk-text-nowrap"><span class="uk-text-bold">Memory</span> total:</td>
                            <td id="{{ name }}_mem_total"></td>
                        </tr><tr>
                            <td class="uk-text-right uk-text-nowrap">available:</td>
                            <td id="{{ name }}_mem_available"></td>
                        </tr><tr>
                            <td class="uk-text-right uk-text-nowrap">used:</td>
                            <td id="{{ name }}_mem_used"></td>
                        </tr><tr>
                            <td class="uk-text-right uk-text-nowrap"><span class="uk-text-bold">Swap</span> total:</td>
                            <td id="{{ name }}_swap_total"></td>
                        </tr><tr>
                            <td class="uk-text-right uk-text-nowrap">available:</td>
                            <td id="{{ name }}_swap_available"></td>
                        </tr><tr>
                            <td class="uk-text-right uk-text-nowrap">used:</td>
                            <td id="{{ name }}_swap_used"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="uk-width-medium-1-2">
                <ol id="{{ name }}_users">
                </ol>
            </div>
        {% endfor %}
    </div>

{% endif %}

<div class="uk-width-1-1 uk-padding-remove uk-margin-large">
    <table id="pending_projects" class="stripe compact" data-order='[[ 5, "desc" ]]'>
        <thead>
            <tr>
                <th></th>
                <th>Type</th>
                <th>Title</th>
                <th>Name</th>
                <th>CPU</th>
                <th>Created</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

{% endblock %}
