<!DOCTYPE html>
{% block html %}
<html lang="en">
{% endblock %}
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Copernicus</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/spacelab/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" rel="stylesheet" />

    <style>
        /* Show this warning if browser doesn't support ES6 modules */
        #es6-warning {
            display: none;
            background: #ffc107;
            color: #212529;
            padding: 1rem;
            text-align: center;
        }
        form i {
            margin-left: -30px;
            cursor: pointer;
        }
        .navbar-toggler-icon {
            width: 18px;
            height: 18px;
            background-size: 18px 18px;
        }
        .progress {
            height: 1.5rem;
        }
        .lucide-icon,
        .lucide-icon svg {
            vertical-align: middle;
            width: 1em;
            height: 1em;
        }
        .btn {
            display: inline-flex;
            align-items: center;
            gap: 0.3em;
        }
        html {
            font-size: 14px;
        }
    </style>

    {% if current_user.login and "admin" in current_user.permissions() %}

    {% endif %}
    {% block head %}
    {% endblock %}
</head>
<body>

    <noscript>
        <div class="alert alert-danger text-center m-3">
            JavaScript is disabled in your browser. Please enable it, this webpage does not work without JavaScript
        </div>
    </noscript>

    <div id="es6-warning">
        Your browser is outdated and does not support ES6 modules. Please upgrade your browser.
    </div>

    {% set item = self | menu_item %}
    {% if current_user.login %}
        {% set menu = True %}
        {% set roles = current_user.permissions() %}
        {% if ["user"] == roles %}
            {% set user = False %}
            {% set responsible = False %}
            {% set committee = False %}
            {% set admin = False %}
        {% else %}
            {% if "user" in roles %}
                {% set user = True %}
            {% endif %}
            {% if "responsible" in roles %}
                {% set responsible = True %}
            {% endif %}
            {% if "committee" in roles %}
                {% set committee = True %}
            {% endif %}
            {% if "admin" in roles %}
                {% set admin = True %}
            {% endif %}
        {% endif %}
        {% if current_user.responsible|length > 1 %}
            {% set multi_project = "s" %}
        {% else %}
            {% set multi_project = "" %}
        {% endif %}

        <!--
        <nav class="navbar navbar-expand-lg bg-body-tertiary py-0 fs-6 border-bottom border-secondary">
        -->
        <nav class="navbar navbar-expand-lg bg-light py-0 fs-6 border-bottom border-secondary" data-bs-theme="light">
            <div class="container-fluid">
                <button class="navbar-toggler my-2 mx-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-label="Toggle navigation">
                    <i data-lucide="menu" class="lucide-icon"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarContent">
                    <div class="navbar-text d-none d-lg-inline">
                    Login: {{current_user.login}}
                </div>
                    <span class="mx-2 d-none d-lg-inline"></span>
                    <div class="navbar-text d-none d-lg-inline">
                    Last update: {{g.timestamp}}
                </div>
                    <span class="mx-2 d-none d-lg-inline"></span>
                    <ul class="navbar-nav me-auto">
                        {% if user %}
                            <li class="nav-item"><a class="nav-link{% if item == 'user' %} active{% endif %}" href="{{ url_for('user.user_index', _external=True) }}">My Account</a></li>
                        {% endif %}
                        {% if responsible %}
                            <li class="nav-item"><a class="nav-link{% if item == 'project' %} active{% endif %}" href="{{ url_for('project.web_project_index', _external=True) }}">My Project{{multi_project}}</a></li>
                        {% endif %}
                        {% if committee %}
                            <li class="nav-item"><a class="nav-link{% if item == 'board' %} active{% endif %}" href="{{ url_for('board.web_board', _external=True) }}">Board</a></li>
                        {% endif %}
                        {% if admin %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle{% if item == 'admin' or item == 'statistic' or item == 'directory' or item == 'log' %} active{% endif %}" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{{ url_for('admin.web_admin', _external=True) }}">General Information</a>
                                    <a class="dropdown-item" href="{{ url_for('user.web_statistic_index', _external=True) }}">Project Statistic</a>
                                    <a class="dropdown-item" href="{{ url_for('admin.web_registry', _external=True) }}">User Registry</a>
                                    <a class="dropdown-item" href="{{ url_for('admin.web_cfg', _external=True) }}">Configuration Viewer</a>
                                    <a class="dropdown-item" href="{{ url_for('admin.web_task', _external=True) }}">Task Monitor</a>
                                    <a class="dropdown-item" href="{{ url_for('admin.web_log', _external=True) }}">Event Log</a>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                    <span class="flex-grow-1 d-none d-lg-block"></span>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="https://mesocentre.univ-amu.fr/help-copernicus/">Help</a>
                        </li>
                        <li class="nav-item">
                            <a href="/logout" class="nav-link d-inline-flex align-items-center">
                                <i data-lucide="log-out" class="lucide-icon"></i>Logout
                            </a>

                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-lg">
            <div class="row">
                <div class="col">
                {% block main %}
                {% endblock %}
                </div>
            </div>
        </div>
        <!-- Modal placeholder -->
        <div id="dynamicModal" class="modal fade" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Content will be injected here -->
                </div>
            </div>
        </div>
    {% else %}
        <div class="bg-white d-flex align-items-center justify-content-center vh-100">
            <div class="d-flex flex-column align-items-center">
                <div class="bg-light shadow-sm p-4 rounded border border-1 border-secondary" style="width: 250px;">
                    <form action="{{ url_for('login.login') }}" method="post">
                        {{ login_form.csrf_token }}
                        <div class="mb-3">
                            {{ login_form.login(placeholder="Username", class_="form-control form-control-outline") }}
                        </div>
                        <div class="mb-3 position-relative">
                            {{ login_form.passw(placeholder="Password", class_="form-control form-control-outline") }}
                            <i class="bi bi-eye-slash position-absolute top-50 end-0 translate-middle-y me-3" id="togglePassword" style="cursor: pointer;"></i>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Submit</button>
                    </form>
                </div>
                <p class="mt-3 text-center" style="max-width: 250px;">
                    If for some reason you can not login, please <a href="#" onclick=mail()>contact</a> support team
                </p>
            </div>
        </div>
        <script>
            const togglePassword = document.querySelector('#togglePassword');
            const password = document.querySelector('#password');
            togglePassword.addEventListener('click', function () {
                // Toggle the type attribute
                const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
                password.setAttribute('type', type);
                // Toggle icon classes
                this.classList.toggle('bi-eye');
                this.classList.toggle('bi-eye-slash');
            });
        </script>
    {% endif %}

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://unpkg.com/lucide@latest"></script>
        <script>
            lucide.createIcons();
        </script>
    </body>
</html>