<!DOCTYPE html>
{% block html %}
<html lang="en">
{% endblock %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Copernicus</title>

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/uikit/css/uikit.gradient.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/uikit/css/components/notify.gradient.min.css') }}" />

        <script src="{{ url_for('static', filename='assets/jquery.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/uikit/js/uikit.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/uikit/js/components/notify.js') }}"></script>
        <script src="{{ url_for('static', filename='js/lib.js') }}"></script>

        {% if current_user.login and "admin" in current_user.permissions() %}
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/select2.min.css') }}" />
            <script src="{{ url_for('static', filename='assets/select2.min.js') }}"></script>
            <style>
                #ajax_call {
                    z-index: 10000000;
                }
            </style>
            <script>
                $(document).ready(function() {
                    $('.switch_user_selector').select2();
                });
            </script>
        {% endif %}


        {% block head %}
        {% endblock %}
    </head>

    {% block body_replace %}
    <body>
    {% endblock %}

    {% block body %}
        {% set item = self | menu_item %}
        {% if current_user.login %}
            {% set menu = True %}
            {% set roles = current_user.permissions() %}
            {% if ["user"] == roles %}
                {% set user = False %}
                {% set responsible = False %}
                {% set committee = False %}
                {% set admin = False %}
            {% else %}
                {% if "user" in roles %}
                    {% set user = True %}
                {% endif %}
                {% if "responsible" in roles %}
                    {% set responsible = True %}
                {% endif %}
                {% if "committee" in roles %}
                    {% set committee = True %}
                {% endif %}
                {% if "admin" in roles %}
                    {% set admin = True %}
                {% endif %}
            {% endif %}
        {% endif %}
        {% if current_user.responsible|length > 1 %}
            {% set multi_project = "s" %}
        {% else %}
            {% set multi_project = "" %}
        {% endif %}

        {% if menu %}
            <nav class="uk-navbar uk-navbar-attached uk-margin-bottom">
                <div class="uk-navbar-content uk-display-inline uk-hidden-small">Login: {{current_user.login}}</div>
                <div class="uk-navbar-content uk-display-inline uk-margin-small-left uk-hidden-medium uk-hidden-small">Last update: {{g.timestamp}}</div>
                <ul class="uk-navbar-nav uk-hidden-small">
                    {% if user %}
                        <li {% if item == 'user' %}class="uk-active"{% endif %}><a href="{{ url_for('user.user_index', _external=True) }}">My Account</a></li>
                    {% endif %}
                    {% if responsible %}
                        <li {% if item == 'project' %}class="uk-active"{% endif %}><a href="{{ url_for('project.web_project_index', _external=True) }}">My Project{{multi_project}}</a></li>
                    {% endif %}
                    {% if committee %}
                        <li {% if item == 'board' %}class="uk-active"{% endif %}><a href="{{ url_for('board.web_board', _external=True) }}">Board</a></li>
                    {% endif %}
                    {% if admin %}
                    <li {% if item == 'admin' or item == 'statistic' or item == 'directory' or item == 'log'%}class="uk-parent uk-active"{% endif %} data-uk-dropdown="" aria-haspopup="true" aria-expanded="false">
                        <a href="{{ url_for('admin.web_admin', _external=True) }}">Admin <i class="uk-icon-caret-down"></i></a>
                        <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-bottom" aria-hidden="true" style="top: 40px; left: 0px;" tabindex="">
                            <ul class="uk-nav uk-nav-navbar">
                                <li><a href="{{ url_for('admin.web_admin', _external=True) }}">General Information</a></li>
                                <li><a href="{{ url_for('user.web_statistic_index', _external=True) }}">Project Statistic</a></li>
                                <li><a href="{{ url_for('admin.web_registry', _external=True) }}">User Registry</a></li>
                                <li><a href="{{ url_for('admin.web_cfg', _external=True) }}">Configuration Viewer</a></li>
                                <li><a href="{{ url_for('admin.web_task', _external=True) }}">Task Monitor</a></li>
                                <li><a href="{{ url_for('admin.web_log', _external=True) }}">Event Log</a></li>
                            </ul>
                        </div>
                    </li>
                    {% endif %}
                </ul>

                <a href="#mobile_menu" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>

                <div class="uk-navbar-flip">
                    {% if admin  and g.user_list %}
                        <form class="uk-search uk-navbar-content uk-hidden-small" action="admin/switch_user" method="POST">
                            <div class="uk-navbar-content uk-hidden-small">
                                <select class="switch_user_selector main_user_selector" name="switch_user" data-placeholder="Select a user">
                                    {% for user in g.user_list %}
                                        <option value="{{user}}" {%if user==current_user.login%}selected{%endif%}>{{user}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="uk-navbar-content uk-hidden-small">
                                <button class="uk-button wide_open" title="Login as different user" type="submit"><span class="uk-icon-sign-in"></span></button>
                            </div>
                        </form>
                    {% endif %}
                    <ul class="uk-navbar-nav">
                        <li class="uk-hidden-small">
                            <a href="https://mesocentre.univ-amu.fr/help-copernicus/">Help
                            </a>
                        </li>
                        <li>
                            <a href="logout">
                                <span class="uk-icon-sign-out"></span>Logout
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        {% endif %}

        <div class="uk-container uk-container-center uk-grid">

            {% for message in get_flashed_messages() %}
                <div class="uk-alert uk-alert-danger uk-width-1-1" data-uk-alert>
                    <a href="" class="uk-alert-close uk-close"></a>
                    {{message}}
                </div>
            {% endfor %}

            {% block main %}
            {% endblock %}
        </div>

        {% if menu %}
            <div id="mobile_menu" class="uk-offcanvas">
                <div class="uk-offcanvas-bar">
                    <div class="uk-panel">Login: {{current_user.login}}</div>
                    <div class="uk-panel">Last update: {{g.timestamp}}</div>
                    <ul class="uk-nav uk-nav-offcanvas">
                        {% if user %}
                            <li {% if item == 'user' or item == 'index' %}class="uk-active"{% endif %}><a href="{{ url_for('user.user_index', _external=True) }}">My Account</a></li>
                        {% endif %}
                        {% if responsible %}
                            <li {% if item == 'project.html' %}class="uk-active"{% endif %}><a href="{{ url_for('project.web_project_index', _external=True) }}">My Project{{multi_project}}</a></li>
                        {% endif %}
                        {% if committee %}
                            <li {% if item == 'board.html' %}class="uk-active"{% endif %}><a href="{{ url_for('board.web_board', _external=True) }}">Board</a></li>
                        {% endif %}
                        {% if admin %}
                            <li {% if item == 'admin.html' %}class="uk-active"{% endif %}><a href="{{ url_for('admin.web_admin', _external=True) }}">Admin</a></li>
                        {% endif %}
                    </ul>
                    <div class="uk-panel">
                        {% if admin  and g.user_list %}
                            <form action="admin/switch_user" method="POST">
                                <select class="switch_user_selector" name="switch_user" data-placeholder="Select a user" onchange="this.form.submit()">
                                    {% for user in g.user_list %}
                                        <option value="{{user}}" {%if user==current_user.login%}selected{%endif%}>{{user}}</option>
                                    {% endfor %}
                                </select>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}

    {% endblock %}

    <div id="ajax_call" class="uk-modal">
        <div class="uk-modal-dialog" style="width:50px;">
            <div class="uk-modal-spinner"></div>
        </div>
    </div>

    <div id="modal" class="uk-modal fade" tabindex="-1" role="dialog" aria-labelledby="confirm-modal" aria-hidden="true">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <div id="modal_body" class="uk-overflow-container">
            </div>
        </div>
    </div>

    {% block last %}
    {% endblock %}

    </body>
</html>