{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.21/b-1.6.2/b-html5-1.6.2/r-2.2.5/datatables.min.css"/>
    <script src="{{ url_for('static', filename='js/upload.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment-with-locales.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/project.js') }}"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.21/b-1.6.2/b-html5-1.6.2/r-2.2.5/datatables.min.js"></script>

    {% if current_user.login and "admin" not in current_user.permissions() %}
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    {% endif %}
    <script defer type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/js/components/accordion.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/css/components/accordion.gradient.min.css" />
    <style>
        .select2_hack > .select2-container{
            width: 100% !important;
        }
        .dropzone {
            min-height: 50px;
            border: 1px solid rgba(45,112,145,.3);
            padding: 10px 10px;
            background-color: #ebf7fd;
        }
        .dropzone .dz-preview.dz-image-preview {
           background-color: #ebf7fd;
        }
        .dropzone .dz-preview .dz-image img {
           margin: auto;   /* center the image inside the thumbnail */
        }
        .dropzone .dz-preview .dz-error-message {
            top: 140px;     /* move the tooltip below the "Remove" link */
        }
        .dropzone .dz-preview .dz-error-message:after {
            left: 30px;     /* move the tooltip's arrow to the left of the "Remove" link */
            top: -18px;
            border-bottom-width: 18px;
        }
        .dropzone .dz-preview .dz-remove {
            margin-top: 4px;
            font-size: 11px;
            text-transform: uppercase;
        }
    </style>
{% endblock %}
{% block main %}
    {% if data and data.projects %}
        <meta id="active_project" data-ids="{{ data.projects | selectattr('active', 'equalto', true) | map(attribute='id') | list | join(',') }}">
        <meta id="inactive_project" data-ids="{{ data.projects | selectattr('active', 'equalto', false) | map(attribute='id') | list | join(',') }}">
        <meta id="renew_project" data-ids="{{ data.projects | selectattr('is_renewable', 'equalto', true) | map(attribute='id') | list | join(',') }}">
        <meta id="extend_project" data-ids="{{ data.projects | selectattr('is_extendable', 'equalto', true) | map(attribute='id') | list | join(',') }}">
        {% for project in data.projects|sort(attribute='name') %}
            <div class="uk-panel uk-width-1-1 uk-width-small-1-1 uk-panel-divider">
                <h3 class="uk-panel-title {% if project.active != True %}uk-text-muted{% endif %}">{{project.title}}</h3>
            </div>
            <div class="uk-width-medium-2-5 uk-width-small-1-1 {% if project.active != True %}uk-text-muted{% endif %}">
                <div class="uk-panel uk-margin-top uk-margin-bottom">
                    <div>Name: <b>{{project.name}}</b></div>
                    <div>Status: <b>{% if project.active %}Active{% else %}Suspended{% endif %}</b></div>
                    {% if project.created %}
                        <div>Created: <b>{{project.created.strftime("%Y-%m-%d %H:%M")}}</b></div>
                    {% endif %}
                    {% if project.resources %}
                        {% if project.resources.created %}
                            <div>CPU allocation kickoff: <b>{{project.resources.created.strftime("%Y-%m-%d %H:%M")}}</b></div>
                        {% endif %}
                        {% if project.resources.ttl %}
                            <div>CPU allocation deadline: <b>{{project.resources.ttl.strftime("%Y-%m-%d %H:%M")}}</b></div>
                        {% endif %}
                    {% endif %}
                    <div class="uk-margin-top">
                        {% if project.active and project.resources and project.resources.cpu %}
                            {% if project.consumed and project.consumed_use %}
                                CPU consumed: {{project.consumed}} out of {{project.resources.cpu}} ({{project.consumed_use}}%)
                                    {% if project.resources.cpu > 0 %}
                                        {% if project.consumed_use > 100 %}
                                            {% set color = "#da314b" %}
                                            {% set style = "uk-progress-danger" %}
                                        {% elif project.consumed_use > 60 %}
                                            {% set color = "#faa732" %}
                                            {% set style = "uk-progress-warning" %}
                                        {% elif project.consumed_use < 10 %}
                                            {% set color = "#8cc14c" %}
                                            {% set style = "uk-progress-success" %}
                                        {% else %}
                                            {% set color = "#00a8e6" %}
                                            {% set style = "uk-progress-info" %}
                                        {% endif %}
                                    {% endif %}
                                    <div class="uk-width-small-1-1 uk-progress uk-progress-mini uk-progress-striped {{style}} uk-margin-small-top">
                                        <div class="uk-progress-bar" style="width: {{project.consumed_use}}%;"></div>
                                    </div>
                            {% else %}
                                    <span class="uk-icon-exclamation-circle uk-margin-small-right uk-text-danger"></span>No CPU consumed out of {{project.resources.cpu}}
                            {% endif %}
                        {% else %}
                            <span class="uk-icon-exclamation-circle uk-margin-small-right uk-text-danger"></span>Suspended project
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="uk-width-medium-2-5 uk-width-small-1-2 {% if project.active != True %}uk-text-muted{% endif %}">
                <div class="uk-panel uk-margin-top uk-margin-bottom" id="{{project.name}}_project_users">
                {% for user in project.users|sort(attribute='login')%}
                    <div class="uk-panel" id="{{project.name}}_{{user.login}}">
                    {% if user.login != project.responsible_login %}
                        <button class="uk-button uk-button-mini uk-button-link uk-text-danger remove uk-icon-justify"
                        type="button" data-pid='{{project.id}}'
                        data-name='{{user.full_name()}}' data-login='{{user.login}}'
                        data-project='{{project.name}}'>
                        <span class="uk-icon-close"></span>
                        </button>
                    {% else %}
                        <button class="uk-button uk-button-mini uk-button-link uk-text-warning uk-icon-justify"
                        type="button" data-pid='{{project.id}}'
                        data-name='{{user.full_name()}}' data-login='{{user.login}}'
                        data-project='{{project.name}}' disabled>
                        </button>
                    {% endif %}
                        <span class={% if user.active == 'Suspended' %}"uk-margin-small-left uk-text-muted"{% else %}"uk-margin-small-left"{% endif %} title="{{user.email}}">
                        {{user.full_name()}}{% if user.consumption %} : {{user.consumption}} hours {% endif %} {% if user.active == 'Suspended' %}[Inactive]{% endif%}
                        </span>

                    </div>
                {% endfor %}
                </div>
            </div>
            <div class="uk-width-medium-1-5 uk-width-small-1-2">
                <div class="uk-panel uk-margin-top uk-margin-bottom">
                    {% if project.active %}
                        <!--
                        <button class="uk-button uk-width-1-1 responsible_ass uk-button-danger uk-margin-small-bottom" data-project='{{project.id}}' data-name='{{project.name}}' type="button">Assign responsible</button>
                        -->

                        <button class="uk-button uk-width-1-1 transform uk-margin-small-bottom uk-button-primary" data-modal="{{project.name}}_transform" disabled>Transform</button>
                        {% if project.is_renewable %}
                            <button class="uk-button uk-width-1-1 renew uk-margin-small-bottom uk-button-primary" data-modal="{{project.name}}_renew" type="button">Renew&nbsp;project&nbsp;for&nbsp;a year</button>
                        {% endif %}
                        {% if project.is_extendable %}
                            <button class="uk-button uk-width-1-1 activity uk-margin-small-bottom uk-button-primary" data-project='{{project.id}}' data-name='{{project.name}}' type="button">Activity report</button>
                            <button class="uk-button uk-width-1-1 extend uk-margin-small-bottom" data-modal="{{project.name}}_extend" type="button">Extend&nbsp;CPU&nbsp;allocation</button>
                        {% endif %}
                        <button class="uk-button uk-width-1-1 attach uk-margin-small-bottom" data-modal="{{project.name}}_attach" disabled>Add user</button>
                        <button class="uk-button uk-width-1-1 history uk-margin-small-bottom" data-project='{{project.id}}' data-name='{{project.name}}' type="button">History</button>
                    {% else %}
                        <button class="uk-button uk-width-1-1 activate uk-margin-small-bottom" data-modal='{{project.name}}_activate' disabled>Activate project</button>
                    {% endif %}
                </div>
            </div>
            <div class="uk-panel uk-width-medium-1-1 uk-width-small-1-1 {% if project.active != True %}uk-text-muted{% endif %}">
                <ul class="uk-subnav uk-subnav-pill" data-uk-switcher="{connect:'#{{project.name}}-additional-info'}">
                    <li class="uk-active"><a href="">Description</a></li>
                    <li><a href="">Scientific fields</a></li>
                    <li><a href="">Genci</a></li>
                    <li><a href="">Methods</a></li>
                    <li><a href="">Resources</a></li>
                    <li><a href="">Management</a></li>
                    <li><a href="">Motivation</a></li>
                </ul>
                <ul id="{{project.name}}-additional-info" class="uk-switcher">
                    <li><article>{{project.description}}</article></li>
                    <li><article>{{project.scientific_fields}}</article></li>
                    <li><article>{{project.genci_committee}}</article></li>
                    <li><article>{{project.numerical_methods}}</article></li>
                    <li><article>{{project.computing_resources}}</article></li>
                    <li><article>{{project.project_management}}</article></li>
                    <li><article>{{project.project_motivation}}</article></li>
                </ul>
            </div>
            <div class="uk-margin-large-bottom"></div>

            {% if project.users|length > 1 %}
                <div id="{{project.id}}_assign_list" class="uk-width-1-1" style="display: none;">
                    <select class="admin_assign_select uk-width-1-1" data-placeholder="Select a user">
                        {% for user in project.users|sort(attribute='login')%}
                            {% if user.login != project.responsible_login and user.active == True %}
                                <option value="{{user.login}}">{{user.full_name()}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            {% else %}
                <div id="{{project.id}}_assign_list" style="display: none;">
                    <h3>You are the only user of this project. Please, add more users before re-assign the project's responsible</h3>
                </div>
            {% endif %}


        {% endfor %}
    {% endif %}
{% endblock %}