{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.21/b-1.6.2/b-html5-1.6.2/r-2.2.5/datatables.min.css"/>
    <script src="{{ url_for('static', filename='js/moment-with-locales.min.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
    <script src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/statistic.js') }}"></script>
    <style>
        .uk-table td, .uk-table th {
            border-bottom: 0px !important;
        }
        .ws {
            white-space: normal !important;
        }
        td.details-control {
            text-align:center;
            cursor: pointer;
        }
        tr.shown td.details-control {
            text-align:center;
        }
        .tech_info {
            background: #fff1f0 !important;
            color: #d85030;
        }
    </style>
{% endblock %}
{% block main %}

{% if project %}
    {{ project|safe }}
{% else %}
    <di class="uk-width-1-1">
        <div class="uk-grid uk-margin-bottom">
            <div data-uk-button-radio class="uk-button-group uk-width-1-4">
                <button class="uk-button uk-active project-type" data-type="">All</button>
                {% for type in project_types|sort %}
                    <button class="uk-button project-type" data-type="{{type}}">{{type.capitalize()}}</button>
                {% endfor %}
            </div>
            <div data-uk-button-radio class="uk-button-group uk-width-1-4">
                <button class="uk-button uk-active project-state" data-state="">All</button>
                <button class="uk-button project-state" data-state="true">Active</button>
                <button class="uk-button project-state" data-state="false">Suspended</button>
            </div>
            <div data-uk-button-radio class="uk-width-1-4">
                <div class="uk-button-dropdown" data-uk-dropdown>
                    <button class="uk-button project-dump">Save As</button>
                    <!-- This is the dropdown -->
                    <div class="uk-dropdown uk-dropdown-small">
                        <ul class="uk-nav uk-nav-dropdown">
                            <li><a class="dump_csv" href="">CSV list (.csv)</a></li>
                            <li><a class="dump_ods" href="">OpenDocument Spreadsheet (.ods)</a></li>
                            <li><a class="dump_xls" href="">Microsoft Excel 97-2003 (.xls)</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-4 uk-form">
                <input type="text" class="uk-width-1-1" id="table_search">
            </div>
        </div>
        <table id="statistics" style="width:100%" class="display nowrap">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Responsible</th>
                    <th>Consumption</th>
                    <th>Total</th>
                    <th>Usage</th>
                    <th>Genci</th>
                    <th>Users</th>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Scientific fields</th>
                </tr>
            </thead>
        </table>
        <div class="uk-grid uk-margin-bottom">
            <div class="uk-width-1-2 uk-text-left" id="table_info">
            </div>
            <div class="uk-width-1-2 uk-text-right" id="table_total">
            </div>
        </div>
    </di>
{% endif %}
{% endblock %}

{% block last %}
<div id="change_responsible" class="uk-modal fade" tabindex="-1" role="dialog" aria-labelledby="confirm-modal" aria-hidden="true">
    <div class="uk-modal-dialog">
        <form class="uk-form" id="form_responsible">
            <legend>
                Change responsible for the project <span class="change_resp_project_placeholder"></span>
            </legend>
            <div class="uk-panel uk-margin-bottom">
                Current responsible:
                <span class="change_resp_current_placeholder"></span>
            </div>
            <div class="uk-overflow-container">
                <select class="change_responsible_selector" style="width: 100%" name="change_responsible" data-placeholder="Select a user"></select>
            </div>
        </form>
        <div class="uk-modal-footer">
            <div class="uk-text-right">
                <button class="uk-button js-modal-confirm-cancel change_responsible_cancel">Cancel</button>
                <button class="uk-button uk-button-primary js-modal-confirm change_responsible_submit">Submit</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}