{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.21/b-1.6.2/b-html5-1.6.2/r-2.2.5/datatables.min.css"/>

    <script src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/task.js') }}"></script>
    <style>
        .uk-table td, .uk-table th {
            border-bottom: 0px !important;
        }
        .ws {
            white-space: normal !important;
        }
        td.details-control {
            text-align:center;
            cursor: pointer;
        }
        tr.shown td.details-control {
            text-align:center;
        }
        table.dataTable thead th {
            border-bottom: 0 !important;
            text-align: left;
        }
        table.dataTable.no-footer {
            border-bottom: 0;
        }
    </style>
{% endblock %}
{% block main %}

<div class="uk-width-1-1">
    <div class="uk-grid uk-margin-bottom">
        <div data-uk-button-radio class="uk-button-group uk-width-1-3">
            <button class="uk-button items uk-active" data-items=100>100</button>
            <button class="uk-button items" data-items=250>250</button>
            <button class="uk-button items" data-items=500>500</button>
            <button class="uk-button items" data-items=1000>1000</button>
        </div>
        <div data-uk-button-radio class="uk-button-group uk-width-1-3">
            <button class="uk-button uk-active task-status" data-status="">All</button>
            <button class="uk-button task-status" data-status="waiting" title="Tasks waiting to be processed by humans">Waiting</button>
            <button class="uk-button task-status" data-status="processed" title="Tasks queued for execution on a remote server">Queued</button>
            <button class="uk-button task-status" data-status="done" title="Tasks has been executed on a remote server">Done</button>
        </div>
        <div class="uk-width-1-3 uk-form">
            <input type="text" class="uk-width-1-1" id="table_search">
        </div>
    </div>
    <table id="tasks" class="stripe compact" data-order='[[ 2, "desc" ]]'>
        <thead>
            <tr>
                <th data-priority="1"></th>
                <th data-priority="2">Action</th>
                <th data-priority="3">Date</th>
                <th data-priority="4">Author</th>
                <th data-priority="5">Status</th>
                <th data-priority="6">Decision</th>
            </tr>
        </thead>
    </table>
</div>


{% endblock %}