{% extends "base.html" %}
{% block head %}

    <script src="{{ url_for('static', filename='js/moment-with-locales.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/board.js') }}"></script>

    <style>
        .ext_info{
            background-color: #ddd !important;
        }
        .glyphicon-plus {
            cursor: pointer !important;
        }
        .glyphicon-minus {
            cursor: pointer !important;
        }
        ul {
            list-style-type: none;
        }
    </style>
{% endblock %}
{% block main %}
    {{ data|safe }}
{% endblock %}