{% extends "base.html" %}
    {% block head %}
        <script src="{{ url_for('static', filename='js/user.js') }}"></script>
    {% endblock %}
    {% block main %}
        {% if data and data.user and not data.external %}
            <meta id="user_login" data-login="{{ data.user.login }}">
            <div class="w-100 p-3 text-center my-5">
                <h4>{{data.user.full()}}</h4>
                <h5>User ID: {{data.user.uid}}</h5>
                <div class="mb-4"></div>
                <div class="row g-2 justify-content-center">
                    <div class="col-12 col-sm-auto">
                        <button type="button" class="btn btn-secondary w-100 w-sm-auto text-center d-inline-flex justify-content-center align-items-center gap-1"
                        data-title="edit user info"
                        data-url=""
                        data-form="">
                            <i data-lucide="file-pen-line" class="lucide-icon"></i>Edit user info
                        </button>
                    </div>
                    <div class="col-12 col-sm-auto">
                        <button type="button" class="btn btn-secondary w-100 w-sm-auto text-center d-inline-flex justify-content-center align-items-center gap-1"><i data-lucide="key-round" class="lucide-icon"></i>Upload SSH key</button>
                    </div>
                    <div class="col-12 col-sm-auto">
                        <button type="button" class="btn btn-danger w-100 w-sm-auto text-center d-inline-flex justify-content-center align-items-center gap-1"><i data-lucide="eraser" class="lucide-icon"></i>Change password</button>
                    </div>
                </div>
            </div>
            <div class="mb-4"></div>
            <div class="d-flex justify-content-between align-items-start border bg-light rounded p-4">
                <div>
                    <h5>Connection information</h5>
                    <p>
                        The login server will only accept SSH connections on port 8822 instead of default port (22).
                    </p>
                    <p>
                        To connect to the server please use the following command: <code class="text-nowrap text-success bg-success bg-opacity-10 px-2 rounded border border-success">ssh -p 8822 {{data.user.login}}@login.mesocentre.univ-amu.fr</code><br>
                        Note that the '-p' option is used to specify the port number.
                    </p>
                    <p>
                        If you prefer to use a graphical SSH client, you will need to configure it to use port 8822 instead of default port.
                        Please refer to the documentation for your SSH client for instructions on how to do this.
                    </p>
                </div>
                <span class="badge bg-success ms-3 flex-shrink-0">Important!</span>
            </div>
        {% endif %}
        {% if data and data.jobs %}
                <div class="mb-4"></div>
                <table class="table table-hover table-striped table-sm">
                    <thead>
                    <tr>
                        <th>JobID</th>
                        <th class="d-none d-md-table-cell">Name</th>
                        <th class="d-none d-md-table-cell">Project</th>
                        <th>Status</th>
                        <th class="d-none d-md-table-cell">Partition</th>
                        <th class="d-none d-md-table-cell">Duration</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                <tbody>
                {% for job in data.jobs|sort(attribute='id', reverse=True) %}
                    <tr>
                        <td>{{job.id}}</td>
                        <td class="d-none d-md-table-cell">{{job.name}}</td>
                        <td class="d-none d-md-table-cell">{{job.project}}</td>
                        <td>{{job.state}}</td>
                        <td class="d-none d-md-table-cell">{{job.partition}}</td>
                        <td class="d-none d-md-table-cell">{{job.duration}}</td>
                        <td>{{job.date}}</td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>

        {% endif %}
        {% if data and data.projects %}
            {% for project in data.projects|sort(attribute='name') %}
                {% set use = project.consumed_use() %}
                {% if project.resources.cpu > 0 %}
                    {% if use > 100 %}
                        {% set style = "bg-danger" %}
                    {% elif use > 60 %}
                        {% set style = "bg-warning" %}
                    {% elif use < 10 %}
                        {% set style = "bg-success" %}
                    {% else %}
                        {% set style = "bg-info" %}
                    {% endif %}
                {% endif %}
                <div class="p-4 mb-4">
                    <h2 class="h4">Project {{project.name}}</h2>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <p>Group ID: {{project.gid}}</p>
                            <p>Created: {{project.created.strftime("%Y-%m-%d")}}</p>
                            <p>Start of resources allocation: {{project.resources.created.strftime("%Y-%m-%d")}}</p>
                            <p>End of resources allocation: {{project.resources.ttl.strftime("%Y-%m-%d")}}</p>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="progress mb-3">
                                <div class="progress-bar progress-bar-striped progress-bar-animated  {{ style }}" role="progressbar" aria-valuenow="{{ use }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ use }}%;"></div>
                            </div>
                            {% if project.resources.cpu == 0 %}
                                <p>No limit for CPU hours</p>
                            {% else %}
                                <p>Assigned resources: {{project.resources.cpu}} CPU hours</p>
                            {% endif %}
                            <p>Resources consumption: {{project.resources.consumption()}} CPU hours ({{ use|string }}%)</p>
                            <p>Personal consumption: {{project.private}} CPU hours ({{project.private_use}})</p>
                        </div>
                    </div>
                </div>
            {% endfor%}
        {% endif %}
        {% if data and data.scratch %}
            <div class="p-4 mb-4">
                <h2 class="h4">Scratch</h2>
                <div class="row align-items-center">
                    <div class="col-12 col-md-4">
                        <p class="mb-3">Used: {{data.scratch.used_label}}</p>
                    </div>
                    <div class="col-12 col-md-4">
                        <p class="mb-3">Free: {{data.scratch.free_label}}</p>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="progress mb-3" style="line-height: 1.5rem;">
                            <div class="progress-bar progress-bar-striped progress-bar-animated  {{ style }}" role="progressbar" aria-valuenow="{{ data.scratch.usage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ data.scratch.usage }}%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endblock %}