{% extends "base.html" %}
    {% block head %}
        <script src="{{ url_for('static', filename='js/canvasjs.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/user.js') }}"></script>
        <script type="text/javascript">
        function plotChart(id, title, dt){
            CanvasJS.addColorSet("amu",["#73c9e3", "#f0ad4e"]);
            var chart = new CanvasJS.Chart(id,{
                colorSet: "amu",
                title: {text: title},
                legend: {
                    verticalAlign: "bottom",
                    horizontalAlign: "center"
                },
            showInLegend: true,
            data: [{
                type: "doughnut",
                showInLegend: true,
                dataPoints: dt
            }]
            });
            chart.render();
        }
        </script>
    {% endblock %}
    {% block main %}
        {% if data and data.user %}
            <meta id="user_login" data-login="{{ data.user.login }}">
            <div class="uk-panel uk-width-1-1 uk-panel-space uk-text-center">
                <p class="uk-h2 uk-text-nowrap">{{data.user.fullname}} &lt;{{data.user.email}}&gt;</p>
                <p class="uk-h4 uk-text-nowrap">User ID: {{data.user.uid}}</p>
            </div>
            <div class="uk-panel uk-width-1-1 uk-panel-space uk-text-center">
                <button class="uk-button uk-button-small edit" data-modal="{{data.user.login}}_edit">
                    <span class="uk-icon-edit uk-margin-small-right"></span>Edit user info
                </button>
                <button class="uk-button uk-button-small ssh" data-modal="{{data.user.login}}_ssh">
                    <span class="uk-icon-key uk-margin-small-right"></span>Upload SSH key
                </button>
                <button class="uk-button uk-button-small pass uk-button-danger" data-modal="{{data.user.login}}_pass">
                    <span class="uk-icon-eraser uk-margin-small-right"></span>Change password
                </button>
            </div>
        {% endif %}
        <div class="uk-panel uk-panel-box uk-width-1-1">
            <div class="uk-panel-badge uk-badge uk-badge-success">
                Important!
            </div>
            <h3 class="uk-panel-title">Connection information</h3>
            <p>
                The login server will only accept SSH connections on port 8822 instead of default port (22).
            </p>
            <p>
                To connect to the server please use the following command: <code class="uk-alert-success">ssh -p 8822 {{data.user.login}}@login.mesocentre.univ-amu.fr</code><br>
                Note that the '-p' option is used to specify the port number.
            </p>
            <p>
                If you prefer to use a graphical SSH client, you will need to configure it to use port 8822 instead of default port.
                Please refer to the documentation for your SSH client for instructions on how to do this.
            </p>
        </div>
        {% if data and data.jobs %}
            <div class="uk-panel uk-width-1-1 uk-overflow-container uk-panel-space">
                <table class="uk-table uk-table-hover uk-table-striped uk-table-condensed">
                    <thead>
                    <tr>
                        <th>JobID</th>
                        <th>Name</th>
                        <th>Project</th>
                        <th>Status</th>
                        <th>Partition</th>
                        <th>Duration</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                <tbody>
                {% for job in data.jobs|sort(attribute='id', reverse=True) %}
                    <tr>
                        <td>{{job.id}}</td>
                        <td>{{job.name}}</td>
                        <td>{{job.project}}</td>
                        <td>{{job.state}}</td>
                        <td>{{job.partition}}</td>
                        <td>{{job.duration}}</td>
                        <td>{{job.date}}</td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
            </div>
        {% endif %}
        {% if data and data.projects %}
            {% for project in data.projects|sort(attribute='name') %}
                {% set use = project.consumed_use() %}
                {% if project.resources.cpu > 0 %}
                    {% if use > 100 %}
                        {% set color = "#da314b" %}
                        {% set style = "uk-progress-danger" %}
                    {% elif use > 60 %}
                        {% set color = "#faa732" %}
                        {% set style = "uk-progress-warning" %}
                    {% elif use < 10 %}
                        {% set color = "#8cc14c" %}
                        {% set style = "uk-progress-success" %}
                    {% else %}
                        {% set color = "#00a8e6" %}
                        {% set style = "uk-progress-info" %}
                    {% endif %}
                {% endif %}
            <div class="uk-panel uk-width-1-1 uk-panel-space">
                <h2 class="uk-h2">Project {{project.name}}</h2>
                <div class="uk-grid">
                    <div class="uk-width-small-1-1 uk-width-medium-1-2">
                        <p>Group ID: {{project.gid}}</p>
                        <p>Created: {{project.created.strftime("%Y-%m-%d")}}</p>
                        <p>Start of resources allocation: {{project.resources.created.strftime("%Y-%m-%d")}}</p>
                        <p>End of resources allocation: {{project.resources.ttl.strftime("%Y-%m-%d")}}</p>
                    </div>
                    <div class="uk-margin-top uk-width-small-1-1 uk-hidden-medium uk-hidden-large">
                    </div>
                    <div class="uk-width-small-1-1 uk-width-medium-1-2">
                        {% if project.resources.cpu == 0 %}
                            <p>No limit for CPU hours</p>
                        {% else %}
                            <p>Assigned resources: {{project.resources.cpu}} CPU hours</p>
                        {% endif %}
                        <!--
                        <div class="uk-progress uk-progress-mini uk-progress-striped {{style}}">
                        -->
                        <div class="uk-progress uk-progress-striped uk-active {{style}}">
                            <div class="uk-progress-bar" style="width: {{use}}%;"></div>
                        </div>
                        <p>Resources consumption: {{project.resources.consumption()}} CPU hours ({{ use|string }}%)</p>
                        <p>Personal consumption: {{project.private}} CPU hours ({{project.private_use}})</p>
                    </div>
                </div>
            </div>
            {% endfor%}
        {% endif %}
        {% if data and data.scratch %}
            <div class="uk-panel uk-width-1-1 uk-panel-space">
                <div id="canvas_for_scratch">
                <script type="text/javascript">
                    var data = [{
                        y: {{data.scratch.used}},
                        indexLabel: "Used",
                        legendText: "Used {{data.scratch.used_label}}"
                    },{
                        y: {{data.scratch.free}},
                        indexLabel: "Free",
                        legendText: "Available {{data.scratch.free_label}}"
                    }];
                    var id = "canvas_for_scratch";
                    var title = "Scratch usage: {{data.scratch.usage}}";
                    plotChart(id, title, data);
                </script>
                </div>
            </div>
        {% endif %}
    {% endblock %}