{% extends "base.html" %}
    {% block head %}
        <script src="{{ url_for('static', filename='js/canvasjs.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/user.js') }}"></script>
        <script type="text/javascript">
        function plotChart(id, title, dt){
            CanvasJS.addColorSet("amu",["#73c9e3", "#f0ad4e"]);
            var chart = new CanvasJS.Chart(id,{
                colorSet: "amu",
                title: {text: title},
                legend: {
                    verticalAlign: "bottom",
                    horizontalAlign: "center"
                },
            showInLegend: true,
            data: [{
                type: "doughnut",
                showInLegend: true,
                dataPoints: dt
            }]
            });
            chart.render();
        }
        </script>
    {% endblock %}
    {% block main %}
        {% if data and data.user %}
            <div class="uk-panel uk-width-1-1 uk-panel-space uk-text-center uk-panel-hover user_info" style="height: 120px;">
                <p class="uk-h2 uk-text-nowrap">{{data.user.full}} &lt;{{data.user.email}}&gt;</p>
                <p class="uk-h4 uk-text-nowrap">User ID: {{data.user.uid}}</p>
                <button class="uk-button uk-button-small uk-button-success user_info_edit uk-hidden" type="button" data-login='{{data.user.login}}' data-name='{{data.user.name}}' data-surname='{{data.user.surname}}' data-email='{{data.user.email}}'><span class="uk-icon-edit uk-margin-small-right"></span>Edit</button>
            </div>
        {% endif %}
        {% if data and data.jobs %}
            <div class="uk-panel uk-width-1-1 uk-overflow-container uk-panel-space">
                <table class="uk-table uk-table-hover uk-table-striped uk-table-condensed">
                    <thead>
                    <tr>
                        <th>JobID</th>
                        <th>Name</th>
                        <th>Project</th>
                        <th>Status</th>
                        <th>Partition</th>
                        <th>Duration</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                <tbody>
                {% for job in data.jobs|sort(attribute='id', reverse=True) %}
                    <tr>
                        <td>{{job.id}}</td>
                        <td>{{job.name}}</td>
                        <td>{{job.project}}</td>
                        <td>{{job.state}}</td>
                        <td>{{job.partition}}</td>
                        <td>{{job.duration}}</td>
                        <td>{{job.date}}</td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
            </div>
        {% endif %}
        {% if data and data.projects %}
            {% for project in data.projects|sort(attribute='name') %}
                {% if project.max > 0 %}
                    {% if project.consumed_use > project.max %}
                        {% set color = "#da314b" %}
                        {% set style = "uk-progress-danger" %}
                    {% elif project.consumed_use > 60 %}
                        {% set color = "#faa732" %}
                        {% set style = "uk-progress-warning" %}
                    {% elif project.consumed_use < 10 %}
                        {% set color = "#8cc14c" %}
                        {% set style = "uk-progress-success" %}
                    {% else %}
                        {% set color = "#00a8e6" %}
                        {% set style = "uk-progress-info" %}
                    {% endif %}
                {% endif %}
                {% if project.private_use %}
                    {% set private_percent = "(" + project.private_use|string + "%)" %}
                {% else %}
                    {% set private_percent = "" %}
                {% endif %}
                {% if project.consumed_use %}
                    {% set project_percent = "(" + project.consumed_use|string + "%)" %}
                {% else %}
                    {% set project_percent = "" %}
                {% endif %}
            <div class="uk-panel uk-width-1-1 uk-panel-space">
                <!--
                <h2 class="uk-h2">Project {{project.name}}</h2>
                <h4 class="uk-h4">Group ID: {{project.gid}}</h4>
                -->
                <div class="uk-grid">
                    <div class="uk-width-small-1-1 uk-width-medium-1-2">
                        <p class="uk-h2">Project {{project.name}}</p>
                        <p>Start: {{project.start}}</p>
                        <p>End: {{project.end}}</p>
                        {% if project.max == 0 %}
                            <p>No limit for CPU hours</p>
                        {% else %}
                            <p>Assigned resources: {{project.max}} CPU hours</p>
                        {% endif %}
                    </div>
                    <div class="uk-margin-top uk-width-small-1-1 uk-hidden-medium uk-hidden-large">
                    </div>
                    <div class="uk-width-small-1-1 uk-width-medium-1-2">
                        <p>Group ID: {{project.gid}}</p>
                        <div class="uk-progress uk-progress-mini uk-progress-striped {{style}}">
                            <div class="uk-progress-bar" style="width: {{project.consumed_use}}%;"></div>
                        </div>
                        <p><span class="uk-icon-star" aria-hidden="true" style="color:{{color}}"></span> Overall consumption: {{project.consumed}} CPU hours {{project_percent}}</p>
                        <p><span class="uk-icon-star-o" aria-hidden="true" style="color:{{color}}"></span> Personal consumption: {{project.private}} CPU hours {{private_percent}}</p>
                    </div>
                </div>
            </div>
            {% endfor%}
        {% endif %}
        {% if data and data.scratch %}
            <div class="uk-panel uk-width-1-1 uk-panel-space">
                <div id="canvas_for_scratch">
                <script type="text/javascript">
                    var data = [{
                        y: {{data.scratch.used}},
                        indexLabel: "Used",
                        legendText: "Used {{data.scratch.used_label}}"
                    },{
                        y: {{data.scratch.free}},
                        indexLabel: "Free",
                        legendText: "Available {{data.scratch.free_label}}"
                    }];
                    var id = "canvas_for_scratch";
                    var title = "Scratch usage: {{data.scratch.usage}}";
                    plotChart(id, title, data);
                </script>
                </div>
            </div>
        {% endif %}
    {% endblock %}