{% extends "base.html" %}
{% block head %}
    <script src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment-with-locales.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/admin.js') }}"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/datatables.min.css') }}"/>


    <script defer type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/js/components/accordion.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/css/components/accordion.gradient.min.css" />
    <style>
        .ext_info{
          background-color: #ddd !important;
        }
    </style>

{% endblock %}
{% block main %}
<div class="uk-panel uk-width-1-1 uk-panel-space uk-overflow-container">
    <div class="uk-accordion" data-uk-accordion id="accordion">

        <h3 class="uk-accordion-title">General information</h3>
        <div class="uk-accordion-content">

            <div class="uk-panel uk-width-1-1 uk-panel-space">
                <div class="uk-grid">
                    <div class="uk-width-small-1-1 uk-width-medium-1-2">
                        <table id="overvieww" class="uk-table uk-table-hover uk-table-striped uk-table-condensed">
                            <thead>
                                <tr>
                                    <th data-priority="1">Partition</th>
                                    <th data-priority="2">Allocated</th>
                                    <th data-priority="3">Idle</th>
                                    <th data-priority="4">Other</th>
                                    <th data-priority="5">Total</th>
                                </tr>
                            </thead>
                            <tbody id="slurm">
                                {% for part in data.partition|sort(attribute='total', reverse=True) %}
                                <tr>
                                    <td>{{part.name}}</td>
                                    <td>{{part.allocated}}</td>
                                    <td>{{part.idle}}</td>
                                    <td>{{part.other}}</td>
                                    <td>{{part.total}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <button class="uk-button uk-width-1-1 uk-margin-small-bottom slurm_reload"><span class="uk-icon-refresh"></span>&nbsp;Reload</button>
                    </div>
                    <div class="uk-margin-top uk-width-small-1-1 uk-hidden-medium uk-hidden-large">
                    </div>
                    <div class="uk-width-small-1-1 uk-width-medium-1-2">
                        <div class="uk-panel uk-width-1-1 uk-panel-box uk-clearfix">
                            <button class="uk-button uk-button-mini uk-float-right system_reload"><span class="uk-icon-refresh">&nbsp;</span>Reload</button>
                            <div id="system_body">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="uk-width-1-2">

            </div>

        </div>

        {% if data.extension %}
        <h3 class="uk-accordion-title">Pending projects</h3>
        <div class="uk-accordion-content uk-overflow-container" id="pending_content">
            <table id="new_projects_table" class="uk-table uk-table-striped uk-table-condensed">
                <tbody id="ext_result_records">
                    {% for record in data.extension|sort(attribute='id', reverse=True) %}
                        <tr id="{{record.id}}">
                            <td class="uk-width-1-10"><button class="uk-button uk-button-mini new_project" type="button" data-id='{{record.id}}-info'><span class="uk-icon-plus"></span></button></td>
                            <td class="uk-width-4-10">{{record.title}}</td>
                            <td class="uk-width-2-10">{{record.responsible_first_name}}&nbsp;{{record.responsible_last_name}}</td>
                            <td class="uk-width-1-10">{{record.cpu}}</td>
                            <td class="uk-width-2-10">{{record.ts}}</td>
                        </tr>
                        <tr id="{{record.id}}-info" class="ext_info uk-hidden uk-text-center">
                            <td colspan="5">
                                <table id="info_table" class="uk-table">
                                    <tbody>
                                        <tr class="ext_info">
                                            <td class="uk-width-1-10 uk-text-right">Project type:</td>
                                            <td class="uk-width-9-10 uk-text-left">
                                                {% if record.type_a %}
                                                    <strong>A</strong>
                                                {% elif record.type_b %}
                                                    <strong>B</strong>
                                                {% elif record.type_c%}
                                                    <strong>C</strong>
                                                {% elif record.type_e%}
                                                    <strong>E</strong>
                                                {% elif record.type_h%}
                                                    <strong>H</strong>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr class="ext_info">
                                            <td class="uk-width-1-10 uk-text-right">CPU:</td>
                                            <td class="uk-width-9-10 uk-text-left">{{record.cpu}}</td>
                                        </tr>
                                        <tr class="ext_info">
                                            <td class="uk-width-1-10 uk-text-right">Responsible:</td>
                                            <td class="uk-width-9-10 uk-text-left">
                                                <ul>
                                                    {% if record.responsible_first_name and record.responsible_last_name %}
                                                        <li>{{record.responsible_first_name}} {{record.responsible_last_name}}</li>
                                                    {% endif %}
                                                    {% for i in [record.responsible_position, record.responsible_lab, record.responsible_email, record.responsible_phone] %}
                                                        {% if i %}
                                                            <li>{{i}}</li>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            </td>
                                        </tr><tr class="ext_info">
                                            <td class="uk-width-1-10 uk-text-right">Users:</td>
                                            <td class="uk-width-9-10 uk-text-left">
                                                <ul>
                                                {% for user in record.users %}
                                                    <li>
                                                        {{user["name"]}} {{user["last"]}} &lt;{{user["mail"]}}&gt;
                                                        {% if user["login"] %}
                                                        [{{user["login"]}}]
                                                        {% endif %}
                                                    </li>
                                                {% endfor %}
                                                </ul>
                                            </td>
                                        </tr><tr class="ext_info">
                                            <td class="uk-width-1-10 uk-text-right">Description:</td>
                                            <td class="uk-width-9-10 uk-text-left">{{record.description}}</td>
                                        </tr><tr class="ext_info">
                                            <td class="uk-width-1-10 uk-text-right">Scientific&nbsp;fields:</td>
                                            <td class="uk-width-9-10 uk-text-left">{{record.scientific_fields}}</td>
                                        </tr><tr class="ext_info">
                                            <td class="uk-width-1-10 uk-text-right">Genci:</td>
                                            <td class="uk-width-9-10 uk-text-left">{{record.genci_committee}}</td>
                                        </tr><tr class="ext_info">
                                            <td class="uk-width-1-10 uk-text-right">Methods:</td>
                                            <td class="uk-width-9-10 uk-text-left">{{record.numerical_methods}}</td>
                                        </tr><tr class="ext_info">
                                            <td class="uk-width-1-10 uk-text-right">Resources:</td>
                                            <td class="uk-width-9-10 uk-text-left">{{record.computing_resources}}</td>
                                        </tr><tr class="ext_info">
                                            <td class="uk-width-1-10 uk-text-right">Management:</td>
                                            <td class="uk-width-9-10 uk-text-left">{{record.project_management}}</td>
                                        </tr><tr class="ext_info">
                                            <td class="uk-width-1-10 uk-text-right">Motivation:</td>
                                            <td class="uk-width-9-10 uk-text-left">{{record.project_motivation}}</td>
                                        </tr><tr class="ext_info">
                                            <td class="uk-width-1-10 uk-text-right">Articles:</td>
                                            <td class="uk-width-9-10 uk-text-left">
                                                <ul>
                                                {% for i in [record.article_1, record.article_2, record.article_3, record.article_4, record.article_5]%}
                                                    {% if i %}
                                                        <li>{{i}}</li>
                                                    {% endif %}
                                                {% endfor %}
                                                </ul>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="uk-button-group uk-float-right">
                                    <button class="uk-button" type="button" data-id='{{record.id}}-info'><span class="uk-icon-thumbs-up uk-margin-right"></span>Accept</button>
                                    <button class="uk-button uk-button-danger" type="button" data-id='{{record.id}}-info'><span class="uk-icon-thumbs-down uk-margin-right"></span>Reject</button>
                                </div>
                                <div class="uk-button-group uk-float-left">
                                    <button class="uk-button" type="button" data-id='{{record.id}}-send'><span class="uk-icon-send uk-margin-right"></span>Contact</button>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}

        <h3 class="uk-accordion-title">Endpoint Access Control List</h3>
        <div class="uk-accordion-content">
        </div>

    </div>
</div>

{% endblock %}