{% extends "base.html" %}
{% block head %}
    <script src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment-with-locales.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/admin.js') }}"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/datatables.min.css') }}"/>


  <script defer type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/js/components/accordion.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/css/components/accordion.gradient.min.css" />

{% endblock %}
{% block main %}
<div class="uk-panel uk-width-1-1 uk-panel-space uk-overflow-container">
    <div class="uk-accordion" data-uk-accordion id="accordion">

        <h3 class="uk-accordion-title">General information</h3>
        <div class="uk-accordion-content">

            <div class="uk-panel uk-width-1-1 uk-panel-space">
                <div class="uk-grid">
                    <div class="uk-width-small-1-1 uk-width-medium-1-2">
                        <!--
                        <table id="overview" class="table table-striped" width="100%">
                            <thead>
                                <tr>
                                    <th data-priority="1">Partition</th>
                                    <th data-priority="2">Allocated</th>
                                    <th data-priority="3">Idle</th>
                                    <th data-priority="4">Other</th>
                                    <th data-priority="5">Total</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Partition</th>
                                    <th>Allocated</th>
                                    <th>Idle</th>
                                    <th>Other</th>
                                    <th>Total</th>
                                </tr>
                            </tfoot>
                            <tbody id="overview_records">
                            </tbody>
                        </table>
                        -->
                        <table id="overvieww" class="uk-table uk-table-hover uk-table-striped uk-table-condensed">
                            <thead>
                                <tr>
                                    <th data-priority="1">Partition</th>
                                    <th data-priority="2">Allocated</th>
                                    <th data-priority="3">Idle</th>
                                    <th data-priority="4">Other</th>
                                    <th data-priority="5">Total</th>
                                </tr>
                            </thead>
                            <tbody id="slurm">
                                {% for part in data.partition|sort(attribute='total', reverse=True) %}
                                <tr>
                                    <td>{{part.name}}</td>
                                    <td>{{part.allocated}}</td>
                                    <td>{{part.idle}}</td>
                                    <td>{{part.other}}</td>
                                    <td>{{part.total}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <button class="uk-button uk-width-1-1 uk-margin-small-bottom slurm_reload"><span class="uk-icon-refresh"></span>&nbsp;Reload</button>
                    </div>
                    <div class="uk-margin-top uk-width-small-1-1 uk-hidden-medium uk-hidden-large">
                    </div>
                    <div class="uk-width-small-1-1 uk-width-medium-1-2">
                        <div class="uk-panel uk-width-1-1 uk-panel-box uk-clearfix">
                            <button class="uk-button uk-button-mini uk-float-right system_reload"><span class="uk-icon-refresh">&nbsp;</span>Reload</button>
                            <div id="system_body">
                            </div>
                        </div>
                        <!--
                        <div class="uk-grid uk-grid-small">
                            <div class="uk-panel uk-width-1-1 uk-panel-box">
                                <h3 class="uk-panel-title" id="log_1_title">login01</h3>
                                <div id="log_1_body">
                                Some strange text
                                </div>
                                <button class="uk-button uk-button-mini"><span class="uk-icon-refresh"></span>&nbsp;Reload</button>
                            </div>
                            <div class="uk-margin-top"></div>
                            <div class="uk-panel uk-width-1-1 uk-panel-box">
                                <h3 class="uk-panel-title" id="log_2_title">login02</h3>
                                <div id="log_2_body">
                                    Some strange text
                                </div>
                                <button class="uk-button uk-button-mini"><span class="uk-icon-refresh"></span>&nbsp;Reload</button>
                            </div>
                        </div>
                        -->
                    </div>

                </div>
            </div>

            <div class="uk-width-1-2">

            </div>

        </div>

        <h3 class="uk-accordion-title">Pending projects</h3>
        <div class="uk-accordion-content" id="pending_content">
        </div>

        <h3 class="uk-accordion-title">Endpoint Access Control List</h3>
        <div class="uk-accordion-content">
        </div>

    </div>
</div>

{% endblock %}