{% extends "base.html" %}
{% block head %}
    <script src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment-with-locales.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/admin.js') }}"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/datatables.min.css') }}"/>


  <script defer type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/js/components/accordion.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/css/components/accordion.gradient.min.css" />

{% endblock %}
{% block main %}
<div class="uk-panel uk-width-1-1 uk-panel-space uk-overflow-container">
    <div class="uk-accordion" data-uk-accordion id="accordion">
        <h3 class="uk-accordion-title">General information</h3>
        <div class="uk-grid uk-accordion-content uk-width-1-1">
            <div class="uk-width-1-2">
                <table id="overview" class="table table-striped" width="100%">

                    <thead>
                        <tr>
                            <th data-priority="1">Partition</th>
                            <th data-priority="2">Allocated</th>
                            <th data-priority="3">Idle</th>
                            <th data-priority="4">Other</th>
                            <th data-priority="5">Total</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Partition</th>
                            <th>Allocated</th>
                            <th>Idle</th>
                            <th>Other</th>
                            <th>Total</th>
                        </tr>
                    </tfoot>
                    <tbody id="overview_records">
                    </tbody>
                </table>
                <button class="uk-button uk-width-1-1 uk-margin-small-bottom"><span class="uk-icon-refresh"></span>&nbsp;Reload</button>
            </div>
            <div class="uk-width-1-2">
                <table id="w" class="table table-striped" width="100%">

                    <thead>
                        <tr>
                            <th data-priority="1"></th>
                            <th data-priority="2">Username</th>
                            <th data-priority="3">From</th>
                            <th data-priority="4">Process</th>
                            <th data-priority="5">Machine</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th>Username</th>
                            <th>From</th>
                            <th>Process</th>
                            <th>Machine</th>
                        </tr>
                    </tfoot>
                    <tbody id="w_records">
                    </tbody>
                </table>
                <button class="uk-button uk-width-1-1 uk-margin-small-bottom"><span class="uk-icon-refresh"></span>&nbsp;Reload</button>
            </div>
        </div>

        <h3 class="uk-accordion-title">Pending projects</h3>
        <div class="uk-accordion-content" id="pending_content">
            <table id="pending_table" class="table table-striped" width="100%">
                <thead>
                    <tr>
                        <th data-priority="1"></th>
                        <th data-priority="2">Title</th>
                        <th data-priority="4">Name</th>
                        <th data-priority="5">CPU</th>
                        <th data-priority="3">Date</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th></th>
                        <th>Title</th>
                        <th>Name</th>
                        <th>CPU</th>
                        <th>Date</th>
                    </tr>
                </tfoot>
                <tbody id="pending_records">
                </tbody>
            </table>
        </div>

        <h3 class="uk-accordion-title">Endpoint Access Control List</h3>
        <div class="uk-accordion-content">
            <table id="end_table" class="table table-striped" width="100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>User</th>
                        <th>Responsible</th>
                        <th>Manager</th>
                        <th>Tech</th>
                        <th>Committee</th>
                        <th>Admin</th>
                        <th>Modified</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>User</th>
                        <th>Responsible</th>
                        <th>Manager</th>
                        <th>Tech</th>
                        <th>Committee</th>
                        <th>Admin</th>
                        <th>Modified</th>
                    </tr>
                </tfoot>
                <tbody id="end_records">
                </tbody>
            </table>
        </div>

    </div>
</div>

{% endblock %}