<!DOCTYPE html>
{% block html %}
<html lang="en">
{% endblock %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Copernicus</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/uikit.gradient.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/notify.gradient.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/progress.gradient.min.css') }}" />

        <script src="{{ url_for('static', filename='js/jquery-1.12.4.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/uikit.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/notify.js') }}"></script>

        {% if current_user.login and "admin" in current_user.permissions() %}
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
        <script>
            $(document).ready(function() {
                $('.js-example-basic-single').select2();
            });
        </script>
        {% endif %}


        {% block head %}
        {% endblock %}
    </head>

    {% block body_replace %}
    <body>
    {% endblock %}
    {% if current_user.login %}
        <nav class="uk-navbar uk-navbar-attached uk-margin-bottom">
            <div class="uk-navbar-content uk-hidden-small">
                Login: {{current_user.login}}, Last update: {{g.timestamp}}
            </div>
                <ul class="uk-navbar-nav uk-hidden-small">
                    {% if "user" in current_user.permissions() %}
                        <li {% if item == 'user.html' or item == '/' or index=='index' %}class="uk-active"{% endif %}><a href="user.html">User</a></li>
                    {% endif %}
                    {% if "responsible" in current_user.permissions() %}
                        <li {% if item == 'project.html' %}class="uk-active"{% endif %}><a href="project.html">Project</a></li>
                    {% endif %}
                    {% if "committee" in current_user.permissions() %}
                        <li {% if item == 'board.html' %}class="uk-active"{% endif %}><a href="board.html">Board</a></li>
                    {% endif %}
                    {% if "admin" in current_user.permissions() %}
                        <li {% if item == 'admin.html' %}class="uk-active"{% endif %}><a href="admin.html">Admin</a></li>
                    {% endif %}
                </ul>

                <a href="#mobile_menu" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>

            {% if "admin" in current_user.permissions() and g.user_list %}
                <div class="uk-navbar-center">
                    <form class="uk-search uk-navbar-content" action="admin/switch_user" method="POST">
                        <select class="js-example-basic-single" name="switch_user" data-placeholder="Select a user" onchange="this.form.submit()">
                            {% for user in g.user_list %}
                                <option value="{{user}}" {%if user==current_user.login%}selected{%endif%}>{{user}}</option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
            {% endif %}

            <div class="uk-navbar-flip">
                <ul class="uk-navbar-nav">
                    <li>
                        <a href="logout">
                            <span class="uk-icon-sign-out"></span>Logout
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    {% endif %}
    {% for message in get_flashed_messages() %}
    <div class="uk-alert uk-alert-danger" data-uk-alert>
        <a href="" class="uk-alert-close uk-close"></a>
        {{message}}
    </div>
    {% endfor %}
    {% block body %}
    {% endblock %}

    {% if current_user.login %}
        <div id="mobile_menu" class="uk-offcanvas">
            <div class="uk-offcanvas-bar">
                <ul class="uk-nav uk-nav-offcanvas">
                    {% if "user" in current_user.permissions() %}
                        <li {% if item == 'user.html' %}class="uk-active"{% endif %}><a href="user.html">User</a></li>
                    {% endif %}
                    {% if "responsible" in current_user.permissions() %}
                        <li {% if item == 'project.html' %}class="uk-active"{% endif %}><a href="project.html">Project</a></li>
                    {% endif %}
                    {% if "committee" in current_user.permissions() %}
                        <li {% if item == 'board.html' %}class="uk-active"{% endif %}><a href="board.html">Board</a></li>
                    {% endif %}
                    {% if "admin" in current_user.permissions() %}
                        <li {% if item == 'admin.html' %}class="uk-active"{% endif %}><a href="admin.html">Admin</a></li>
                    {% endif %}
                </ul>

            </div>
        </div>
    {% endif %}

    </body>
</html>