<!DOCTYPE html>
{% block html %}
<html lang="en">
{% endblock %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Copernicus</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/uikit.gradient.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/notify.gradient.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/progress.gradient.min.css') }}" />

        <script src="{{ url_for('static', filename='js/jquery-1.12.4.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/uikit.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/notify.js') }}"></script>
        <script src="{{ url_for('static', filename='js/lib.js') }}"></script>

        {% if current_user.login and "admin" in current_user.permissions() %}
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
        <script>
            var message_popup = function(){
                var users = $(".main_user_selector").select2("data");
                if(user.length > 0){
                    alert("Please, select a user to send him a message!");
                    return false;
                }
                var login = [];
                $.each(users, function(idx, value){ login.push(value.text) });
                var plural = login.length > 1 ? "s" : "";
                var win_title = "Send a message to user{0} {1}?".f(plural, login.join(", "));
                var title = $("<input/>").addClass("uk-width-1-1").attr({
                    "name": "global_title",
                    "type": "text",
                    "placeholder": "Default title"
                });
                var message_body = $("<textarea/>").addClass("uk-width-1-1").attr({
                    "rows": "4",
                    "name": "global_message",
                    "placeholder": "Message body can't be empty!"
                  })
                var form = $("<form/>").addClass("uk-form").append(
                        $("<legend/>").text(win_title)
                    ).append(
                        $("<div/>").addClass("uk-form-row").append(title)
                    ).append(
                        $("<div/>").addClass("uk-form-row").append(message_body)
                    );
                var popup = dialog(form.prop("outerHTML"), function(){
                    var data = {
                        "title": $("input[name=global_title]").val(),
                        "message": $("textarea[name=global_message]").val(),
                        "user": login
                    };
                    json_send("/admin/message/send", data).done(function(reply){
                        if(reply.data){
                            UIkit.notify(reply.data, {timeout: 2000, status:"success"});
                        }
                        popup.hide();
                    });
                });
            }
            $(document).ready(function() {
                $('.switch_user_selector').select2();
                $(document).on("click", ".message_in_a_bottle", message_popup);
            });
        </script>
        {% endif %}


        {% block head %}
        {% endblock %}
    </head>

    {% block body_replace %}
    <body>
    {% endblock %}

    {% block body %}
        {% set item = self | menu_item %}
        {% if current_user.login %}
            {% set menu = True %}
            {% set roles = current_user.permissions() %}
            {% if ["user"] == roles %}
                {% set user = False %}
                {% set responsible = False %}
                {% set committee = False %}
                {% set admin = False %}
            {% else %}
                {% if "user" in roles %}
                    {% set user = True %}
                {% endif %}
                {% if "responsible" in roles %}
                    {% set responsible = True %}
                {% endif %}
                {% if "committee" in roles %}
                    {% set committee = True %}
                {% endif %}
                {% if "admin" in roles %}
                    {% set admin = True %}
                {% endif %}
            {% endif %}
        {% endif %}

        {% if menu %}
            <nav class="uk-navbar uk-navbar-attached uk-margin-bottom">
                <div class="uk-navbar-content uk-display-inline uk-hidden-small">Login: {{current_user.login}}</div>
                <div class="uk-navbar-content uk-display-inline uk-margin-small-left uk-hidden-medium uk-hidden-small">Last update: {{g.timestamp}}</div>
                <ul class="uk-navbar-nav uk-hidden-small">
                    {% if user %}
                        <li {% if item == 'user' %}class="uk-active"{% endif %}><a href="user.html">User</a></li>
                    {% endif %}
                    {% if responsible %}
                        <li {% if item == 'project' %}class="uk-active"{% endif %}><a href="project.html">Project</a></li>
                    {% endif %}
                    {% if committee %}
                        <li {% if item == 'board' %}class="uk-active"{% endif %}><a href="board.html">Board</a></li>
                    {% endif %}
                    {% if admin %}
                        <li {% if item == 'admin' %}class="uk-active"{% endif %}><a href="admin.html">Admin</a></li>
                    {% endif %}
                </ul>

                <a href="#mobile_menu" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>

                <div class="uk-navbar-flip">
                    {% if admin  and g.user_list %}
                        <form class="uk-search uk-navbar-content uk-hidden-small" action="admin/switch_user" method="POST">
                            <div class="uk-navbar-content uk-hidden-small">
                                <!--
                                <select class="js-example-basic-single" name="switch_user" data-placeholder="Select a user" onchange="this.form.submit()">
                                -->
                                <select class="switch_user_selector main_user_selector" name="switch_user" data-placeholder="Select a user">
                                    {% for user in g.user_list %}
                                        <option value="{{user}}" {%if user==current_user.login%}selected{%endif%}>{{user}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="uk-navbar-content uk-hidden-small">
                                <button class="uk-button wide_open" title="Login as different user" type="submit"><span class="uk-icon-sign-in"></span></button>
                                <button class="uk-button message_in_a_bottle" title="Send a message to a user" type="button"><span class="uk-icon-send"></span></button>
                            </div>
                        </form>
                    {% endif %}
                    <ul class="uk-navbar-nav">
                        <li>
                            <a href="logout">
                                <span class="uk-icon-sign-out"></span>Logout
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        {% endif %}

        <div class="uk-container uk-container-center uk-grid">

            {% for message in get_flashed_messages() %}
                <div class="uk-alert uk-alert-danger uk-width-1-1" data-uk-alert>
                    <a href="" class="uk-alert-close uk-close"></a>
                    {{message}}
                </div>
            {% endfor %}

            {% block main %}
            {% endblock %}
        </div>

        {% if menu %}
            <div id="mobile_menu" class="uk-offcanvas">
                <div class="uk-offcanvas-bar">
                    <div class="uk-panel">Login: {{current_user.login}}</div>
                    <div class="uk-panel">Last update: {{g.timestamp}}</div>
                    <ul class="uk-nav uk-nav-offcanvas">
                        {% if user %}
                            <li {% if item == 'user' or item == 'index' %}class="uk-active"{% endif %}><a href="user.html">User</a></li>
                        {% endif %}
                        {% if responsible %}
                            <li {% if item == 'project.html' %}class="uk-active"{% endif %}><a href="project.html">Project</a></li>
                        {% endif %}
                        {% if committee %}
                            <li {% if item == 'board.html' %}class="uk-active"{% endif %}><a href="board.html">Board</a></li>
                        {% endif %}
                        {% if admin %}
                            <li {% if item == 'admin.html' %}class="uk-active"{% endif %}><a href="admin.html">Admin</a></li>
                        {% endif %}
                    </ul>
                    <div class="uk-panel">
                        {% if admin  and g.user_list %}
                            <form action="admin/switch_user" method="POST">
                                <select class="switch_user_selector" name="switch_user" data-placeholder="Select a user" onchange="this.form.submit()">
                                    {% for user in g.user_list %}
                                        <option value="{{user}}" {%if user==current_user.login%}selected{%endif%}>{{user}}</option>
                                    {% endfor %}
                                </select>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}

    {% endblock %}

    <div id="modal" class="uk-modal fade" tabindex="-1" role="dialog" aria-labelledby="confirm-modal" aria-hidden="true">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <div id="modal_body" class="uk-overflow-container">
            </div>
        </div>
    </div>

    </body>
</html>