<div class="uk-modal fade" tabindex="-1" role="dialog" aria-labelledby="confirm-modal" aria-hidden="true" id="{{form.id}}_reject">
  <div class="uk-modal-dialog">
    <button type="button" class="uk-modal-close uk-close"></button>
    <div class="uk-modal-header">
      <h3>Reject request {{form.meso}}?</h3>
    </div>
    <div class="uk-overflow-container">
      <form action="test" method="post" class="uk-panel uk-form" id="{{form.id}}_reject_form">
        {{ form.csrf_token(id=form.name+"_csrf_renew") }}
        <div class="uk-form-row">
          <div class="uk-form-controls">
            {{ form.note(id=form.name+"_note_renew", placeholder="Enter a reason for rejecting project " + form.name, class_="uk-width-1-1") }}
          </div>
        </div>
      </form>
    </div>
    <div class="uk-modal-footer">
      <div class="uk-text-right">
        <button class="uk-button window_hide" data-modal="{{form.id}}_reject">Cancel</button>
        <button class="uk-button uk-button-primary reject_submit" data-modal="{{form.id}}_reject" data-form="{{form.id}}_reject_form" data-url="admin/registration/reject/{{form.id}}">Submit</button>
      </div>
    </div>
  </div>
</div>