<div class="uk-modal" aria-hidden="true" id="{{form.id}}_edit_pending">
    <div class="uk-modal-dialog">
        <button type="button" class="uk-modal-close uk-close"></button>
        <div class="uk-modal-header">
            <h3>Edit new project request {{form.meso}}?</h3>
        </div>
        <div class="uk-margin uk-modal-content">
        <form action="xxx/create/{{form.id}}" method="post" class="uk-form" id="{{form.meso}}_edit_pending_form">
            {{ form.csrf_token(id=form.meso+"_csrf_edit") }}
            <ul class="uk-subnav uk-subnav-pill uk-container-center" data-uk-switcher="{connect:'#{{form.meso}}-pending-info'}">
                <li class="uk-active"><a href="">General information</a></li>
                <li><a href="">Users</a></li>
                <li><a href="">Publication</a></li>
                <li><a href="">Additional information</a></li>
            </ul>
            <ul class="uk-switcher" id="{{form.meso}}-pending-info">
                <li>
                    <div class="uk-form-row">
                        {{ form.title(id=form.meso+"_title", value=form.title_value, class_="uk-width-1-1") }}
                    </div>
                    <ul class="uk-form-row uk-grid uk-grid-width-1-2 uk-grid-small">
                        <li><div>{{ form.cpu(id=form.meso+"_cpu", value=form.cpu_value, class_="uk-width-1-1") }}</div></li>
                        <li><div>{{ form.ttl(id=form.meso+"_ttl", value="01/03/2024", class_="uk-width-1-1") }}</div></li>
                    </ul>
                    <ul class="uk-form-row uk-grid uk-grid-width-1-{{ form.types.uk_length }} uk-grid-small">
                        {% for option in form.types %}
                            <li><div>
                                <input {%if form.type_value==option.data%}checked="checked"{%endif%} type="radio" id="{{ option.id }}" name="{{ option.name }}" value="{{ option.data }}">
                                <label for="{{ option.id }}">{{ option.label }}</label>
                            </div></li>
                        {% endfor %}
                    </ul>
                    <div class="uk-form-row uk-panel uk-panel-box uk-panel-box-primary">
                        <div class="uk-panel-badge uk-badge uk-badge-danger">Admin</div>
                        {{ form.responsible_first_name(id=form.meso+"_title", value=form.resp_first_value, class_="uk-width-1-1") }}
                        {{ form.responsible_last_name(id=form.meso+"_title", value=form.resp_last_value, class_="uk-width-1-1") }}
                        {{ form.responsible_email(id=form.meso+"_title", value=form.resp_mail_value, class_="uk-width-1-1") }}
                        {{ form.responsible_position(id=form.meso+"_title", value=form.resp_pos_value, class_="uk-width-1-1") }}
                        {{ form.responsible_lab(id=form.meso+"_title", value=form.resp_lab_value, class_="uk-width-1-1") }}
                        {{ form.responsible_phone(id=form.meso+"_title", value=form.resp_phone_value, class_="uk-width-1-1") }}
                    </div>
                </li>
                <li class="uk-form-row uk-panel">
                    <div class="uk-form-row uk-panel uk-panel-box uk-form-horizontal" data-uk-alert>
                        <div class="uk-form-row">
                            <label class="uk-form-label" for="add_name">Name:</label>
                            <div class="uk-form-controls">
                                <input class="uk-width-1-1" id="add_name" required="" type="text" value="">
                            </div>
                        </div>
                        <div class="uk-form-row">
                            <label class="uk-form-label" for="add_surname">Surname:</label>
                            <div class="uk-form-controls">
                                <input class="uk-width-1-1" id="add_surname" required="" type="text" value="">
                            </div>
                        </div>
                        <div class="uk-form-row">
                            <label class="uk-form-label" for="add_email">Email:</label>
                            <div class="uk-form-controls">
                                <input class="uk-width-1-1" id="add_email" required="" type="text" value="">
                            </div>
                        </div>
                        <button class="uk-button uk-button-success uk-float-right uk-margin-top add_user" type="button" data-project="{{form.id}}"><span class="uk-icon-user-plus uk-margin-small-right"></span>Add user</button>
                    </div>
                    {% for i in form.users | sort(attribute='full', reverse=True) %}
                        <div class="uk-form-row uk-panel uk-panel-box uk-form-horizontal" data-uk-alert>
                            <a href="" class="uk-panel-badge uk-alert-close uk-close"></a>
                            <div class="uk-margin-top"></div>
                            <div class="uk-form-row">
                                <label class="uk-form-label" for="{{ i.uid }}_name">Name:</label>
                                <div class="uk-form-controls">
                                    <input class="uk-width-1-1" id="{{ i.uid }}_name" name="{{ i.uid }}_name" required="" type="text" value="{{ i.name }}">
                                </div>
                            </div>
                            <div class="uk-form-row">
                                <label class="uk-form-label" for="{{ i.uid }}_surname">Surname:</label>
                                <div class="uk-form-controls">
                                    <input class="uk-width-1-1" id="{{ i.uid }}_surname" name="{{ i.uid }}_surname" required="" type="text" value="{{ i.surname }}">
                                </div>
                            </div>
                            <div class="uk-form-row">
                                <label class="uk-form-label" for="{{ i.uid }}_email">Email:</label>
                                <div class="uk-form-controls">
                                    <input class="uk-width-1-1" id="{{ i.uid }}_email" name="{{ i.uid }}_email" required="" type="text" value="{{ i.email }}">
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </li>
                <li class="uk-panel">
                    <div class="uk-form-row">
                    <div class="uk-form-controls">
                    {{ form.article_1(id=form.meso+"_article_1", class_="uk-width-1-1", rows=4) }}
                    </div>
                    </div>
                    {{ form.article_2(id=form.meso+"_article_2", class_="uk-margin uk-width-1-1", rows=4) }}
                    {{ form.article_3(id=form.meso+"_article_3", class_="uk-width-1-1", rows=4) }}
                    {{ form.article_4(id=form.meso+"_article_4", class_="uk-width-1-1", rows=4) }}
                    {{ form.article_5(id=form.meso+"_article_5", class_="uk-width-1-1", rows=4) }}
                </li>
                <li class="uk-margin">
                    <div class="uk-form-row">
                        <label class="uk-form-label" for=form.meso+"_description">Description:</label>
                        <div class="uk-form-controls">
                            {{ form.description(id=form.meso+"_description", class_="uk-width-1-1", rows=4) }}
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <label class="uk-form-label" for=form.meso+"_methods">Methods:</label>
                        <div class="uk-form-controls">
                            {{ form.methods(id=form.meso+"_methods", class_="uk-width-1-1", rows=4) }}
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <label class="uk-form-label" for=form.meso+"_resources">Resources:</label>
                        <div class="uk-form-controls">
                            {{ form.resources(id=form.meso+"_resources", class_="uk-width-1-1", rows=4) }}
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <label class="uk-form-label" for=form.meso+"_management">Management:</label>
                        <div class="uk-form-controls">
                            {{ form.management(id=form.meso+"_management", class_="uk-width-1-1", rows=4) }}
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <label class="uk-form-label" for=form.meso+"_motivation">Motivation:</label>
                        <div class="uk-form-controls">
                            {{ form.motivation(id=form.meso+"_motivation", class_="uk-width-1-1", rows=4) }}
                        </div>
                    </div>
                </li>
            </ul>
        </form>
        </div>
        <div class="uk-modal-footer uk-text-right">
            <button class="uk-button window_hide" data-modal="{{form.id}}_edit_pending">Cancel</button>
            <button class="uk-button uk-button-primary submit" data-modal="{{form.id}}_edit_pending" data-form="{{form.meso}}_edit_pending_form" data-url="/admin/registration/details/set/{{form.id}}">Submit</button>
        </div>
    </div>
</div>