<div class="uk-modal" aria-hidden="true" id="{{name}}_create">
    <div class="uk-modal-dialog">
        <button type="button" class="uk-modal-close uk-close"></button>
        <div class="uk-modal-header">
            <h3>Create project out of request {{project_id}}?</h3>
        </div>
        <div class="uk-overflow-container">
        <form action="xxx/create/{{project_id}}" method="post" class="uk-form" id="{{name}}_create_form">
            {% for form in forms | sort(attribute='admin', reverse=True) %}
                <div class="uk-form-row uk-panel uk-panel-box{% if form.admin==True %} uk-panel-box-primary{% endif %}">
                    <h3>{{ form.user.data }}</h3>
                    {% if form.admin==True %}
                        <div class="uk-panel-badge uk-badge uk-badge-danger">
                            Admin
                        </div>
                        {{ form.responsible(value='True') }}
                    {% else %}
                        {{ form.responsible(value='False') }}
                    {% endif %}
                    {{ form.csrf_token() }}
                    {{ form.prenom() }}
                    {{ form.surname() }}
                    {{ form.email() }}
                    {{ form.user() }}
                    <ul class="uk-form-row uk-grid uk-grid-width-1-1 uk-grid-small">
                        {% for subfield in form.login %}
                            <li><div class="uk-form-controls-text uk-margin-small-top uk-form-row">
                                {{ subfield }}
                                {% if subfield.data == 'select' %}
                                    <select name="{{ form._prefix }}exist" class="{{ form.uid }}">
                                        <option></option>
                                        {% for user in g.user_list %}
                                            <option value="{{user}}" {%if user==form.exist%}selected{%endif%}>{{user}}</option>
                                        {% endfor %}
                                    </select>
                                    <script>
                                        $(".{{ form.uid }}").select2({
                                            placeholder: 'Select already registered user',
                                            width: '50%'
                                        });
                                        $(".{{ form.uid }}").change(function(){
                                            $('input#{{ subfield.id }}').prop('checked', true);
                                        });
                                    </script>
                                {% else %}
                                    {{ subfield.label }}
                                {% endif %}
                            </div></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </form>
        </div>
        <div class="uk-modal-footer uk-text-right">
            <button class="uk-button window_hide" data-modal="{{name}}_create">Cancel</button>
            <button class="uk-button uk-button-primary pending_create_submit" data-modal="{{name}}_create" data-form="{{name}}_create_form" data-url="admin/registration/create/{{name}}">Submit</button>
        </div>
    </div>
</div>