<div class="uk-modal fade" tabindex="-1" role="dialog" aria-labelledby="confirm-modal" aria-hidden="true" id="tasks_to_process">
    <div class="uk-modal-dialog">
        <button type="button" class="uk-modal-close uk-close"></button>
        <div class="uk-overflow-container">
            <table id="tasks_table" style="width:100%" class="display compact" data-order='[[ 1, "desc" ]]'>
                <thead class="hide">
                    <tr>
                        <th>Task</th>
                        <th data-visible="false">Date</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="uk-modal-footer">
            <div class="uk-text-right">
                <button class="uk-button window_hide" data-modal="tasks_to_process">Close</button>
            </div>
        </div>
    </div>
</div>