<div class="uk-modal fade" tabindex="-1" role="dialog" aria-labelledby="confirm-modal" aria-hidden="true" id="{{form.name}}_attach">
  <div class="uk-modal-dialog">
    <button type="button" class="uk-modal-close uk-close"></button>
    <div class="uk-modal-header">
      <h3>Add a new user to the project {{form.name}}?</h3>
    </div>
    <div class="uk-overflow-container">
      <form action="test" method="post" class="uk-panel uk-form attach_form" id="{{form.name}}_attach_form">
        {{ form.csrf_token(id=form.name+"_csrf_attach") }}
        <div class="uk-form-row">
          <div class="uk-form-controls">
            {{ form.prenom(id=form.name+"_name_attach", placeholder="Name (Prenom)", class_="uk-width-1-1 user_name") }}
          </div>
        </div>
        <div class="uk-form-row">
          <div class="uk-form-controls">
            {{ form.surname(id=form.name+"_surname_attach", placeholder="Family name (Nom de famille)", class_="uk-width-1-1 user_surname") }}
          </div>
        </div>
        <div class="uk-form-row">
          <div class="uk-form-controls">
            {{ form.email(id=form.name+"_email_attach", placeholder="E-mail", class_="uk-width-1-1 user_email") }}
          </div>
        </div>
        <div class="uk-form-row uk-alert">
          <div>
            If user has (or has had) an account in Mesocentre, please select this user using dropdown select list below:
            <div class="uk-form-controls select2_hack">
              {{ form.login(id=form.name+"_login_attach", placeholder="Login", class_="uk-width-1-1 select2_users") }}
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="uk-modal-footer">
      <div class="uk-text-right">
        <button class="uk-button window_hide" data-modal="{{form.name}}_attach">Cancel</button>
        <button class="uk-button uk-button-primary attach_submit" data-modal="{{form.name}}_attach" data-form="{{form.name}}_attach_form" data-url="project/{{form.name}}/add/user">Submit</button>
      </div>
    </div>
  </div>
</div>