<div class="uk-modal fade" tabindex="-1" role="dialog" aria-labelledby="confirm-modal" aria-hidden="true" id="{{form.name}}_history">
    <div class="uk-modal-dialog">
        <button type="button" class="uk-modal-close uk-close"></button>
        <div class="uk-modal-header">
            <h3>Event history for the project {{form.name}}</h3>
        </div>
        <div class="uk-overflow-container history_table">
            <table id="{{form.name}}_datatable" style="width:100%" class="display compact nowrap" data-order='[[ 0, "desc" ]]'>
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Event</th>
                </tr>
                </thead>
            </table>
        </div>
        <div class="uk-modal-footer">
            <div class="uk-text-right">
                <button class="uk-button window_hide" data-modal="{{form.name}}_history">Close</button>
            </div>
        </div>
    </div>
</div>