<div class="uk-modal fade" tabindex="-1" role="dialog" aria-labelledby="confirm-modal" aria-hidden="true" id="{{form.name}}_extend">
  <div class="uk-modal-dialog">
    <button type="button" class="uk-modal-close uk-close"></button>
    <div class="uk-modal-header">
      <h3>Request additional CPU hours for the project {{form.name}}?</h3>
    </div>
    <div class="uk-overflow-container">
      <form action="test" method="post" class="uk-panel uk-form" id="{{form.name}}_extension_form">
        {{ form.csrf_token }}
        {{ form.pid(id=form.name+"_pid") }}
        {% if form.eval_date and form.end_date and form.eval_note and form.eval_date %}
          <div class="uk-form-row uk-alert">
            {% if form.eval_date < form.end_date %}
            <div>
              Request submitted before {{form.eval_note | datetime_format("%A, %B %d") }} will be examined {{form.eval_date | datetime_format("%A, %B %d, %Y")}}.
            </div>
            {% endif %}
            <div>
              Additional resources must be used before {{form.end_date | datetime_format("%A, %B %d, %Y") }}.
            </div>
          </div>
        {% endif %}
        <div class="uk-form-row uk-alert uk-alert-danger">
          {{ form.exception(class_="uk-margin-small-right uk-form-danger") }}
          <label for="exception_checkbox">
            Select this checkbox only in case you would need an exceptional extension! Will only be considered for a project running out of CPU time way before the next application deadline (see the date above).
          </label>
        </div>
        <div class="uk-form-row">
          <div class="uk-form-controls">
            {{ form.cpu(placeholder="CPU hours: New allocation for the project", class_="uk-width-1-1") }}
          </div>
        </div>
        <div class="uk-form-row">
          <div class="uk-form-controls">
            {{ form.note(placeholder="Motivation:\nShort description of the request", class_="uk-width-1-1") }}
          </div>
        </div>
      </form>
    </div>
    <div class="uk-modal-footer">
      <div class="uk-text-right">
        <button class="uk-button window_hide" data-modal="{{form.name}}_extend">Cancel</button>
        <button class="uk-button uk-button-primary extension_submit" data-modal="{{form.name}}_extend" data-form="{{form.name}}_extension_form">Submit</button>
      </div>
    </div>
  </div>
</div>