<div class="uk-modal fade" tabindex="-1" role="dialog" aria-labelledby="confirm-modal" aria-hidden="true" id="{{form.name}}_renew">
  <div class="uk-modal-dialog">
    <button type="button" class="uk-modal-close uk-close"></button>
    <div class="uk-modal-header">
      <h3>Request to renew CPU hours for the project {{form.name}} for {{form.year}}?</h3>
    </div>
    <div class="uk-overflow-container">
      <form action="test" method="post" class="uk-panel uk-form" id="{{form.name}}_renew_form">
        {{ form.csrf_token }}
        {{ form.pid(id=form.name+"_pid") }}
        <div class="uk-form-row">
          <div class="uk-form-controls">
            {{ form.cpu(placeholder="CPU hours: New allocation for the project", class_="uk-width-1-1") }}
          </div>
        </div>
        <div class="uk-form-row">
          <div class="uk-form-controls">
            {{ form.note(placeholder="Motivation:\nShort description of the request", class_="uk-width-1-1") }}
          </div>
        </div>
        <div class="uk-form-row uk-alert uk-alert-warning">
          <div>
            Make sure that you have uploaded project activity report first!
          </div>
        </div>
      </form>
    </div>
    <div class="uk-modal-footer">
      <div class="uk-text-right">
        <button class="uk-button window_hide" data-modal="{{form.name}}_renew">Cancel</button>
        <button class="uk-button uk-button-primary extension_submit" data-modal="{{form.name}}_renew" data-form="{{form.name}}_renew_form">Submit</button>
      </div>
    </div>
  </div>
</div>