<div class="uk-modal" aria-hidden="true" id="{{user.login}}_reset">
  <div class="uk-modal-dialog">
    <button type="button" class="uk-modal-close uk-close"></button>
    <div class="uk-modal-header">
      <h3>Reset password for {{user.login}}?</h3>
    </div>
    <div class="uk-margin uk-modal-content">
      <div>
        Reset password for a user {{user.fullname}}?
      </div>
    </div>
    <div class="uk-modal-footer uk-text-right">
      <button class="uk-button window_hide" data-modal="{{user.login}}_reset">Cancel</button>
      <button class="uk-button uk-button-primary reset_submit" data-modal="{{user.login}}_reset" data-url="admin/user/reset/password/{{user.id}}">Submit</button>
    </div>
  </div>
</div>
