<div class="uk-modal" aria-hidden="true" id="{{form.login}}_set">
    <div class="uk-modal-dialog">
        <button type="button" class="uk-modal-close uk-close"></button>
        <div class="uk-modal-header">
            <h3>Set new password for {{form.login}}?</h3>
        </div>
        <div class="uk-margin uk-modal-content">
            <form action="test" method="post" class="uk-panel uk-form uk-form-stacked" id="set_password_form">
                {{ form.csrf_token }}
                <div class="uk-form-row">
                    <div class="uk-form-controls">
                        {{ form.password(placeholder="Type new password, for example: h8FKdve$jLC", id=form.login + "_pass", class_="uk-width-1-1 uk-form-large") }}
                    </div>
                </div>
                <div class="uk-form-row uk-alert uk-alert-warning">
                    <ol>
                        <li>Password length must be 8 or more characters</li>
                        <li>Password length can't be more than 128 characters</li>
                        <li>Password must contain at least one digit</li>
                        <li>Password must contain at least one uppercase letter</li>
                        <li>Password must contain at least one lowercase letter</li>
                        <li>Password must contain character from !@#$%^&*</li>
                    </ol>
                </div>
            </form>
        </div>
        <div class="uk-modal-footer uk-text-right">
            <button class="uk-button window_hide" data-modal="{{form.login}}_set">Cancel</button>
            <button class="uk-button uk-button-primary set_submit" data-modal="{{form.login}}_set" data-form="set_password_form" data-url="{{ url_for('admin.admin_user_set_password', uid=form.id, _external=True) }}">Submit</button>
        </div>
    </div>
</div>
