<div class="uk-modal" aria-hidden="true" id="{{task.id}}_ignore">
  <div class="uk-modal-dialog">
    <button type="button" class="uk-modal-close uk-close"></button>
    <div class="uk-margin uk-modal-content">
      <div class="uk-text-large">
        <span class="uk-text-bold">Ignore task?</span>
      </div>
      <div class="uk-text-large">
        {{task.short}}
      </div>
      <div class="uk-text-large uk-text-bold">
        No notification will be sent to the author
      </div>
    </div>
    <div class="uk-modal-footer uk-text-right">
      <button class="uk-button window_hide" data-modal="{{task.id}}_ignore">Cancel</button>
      <button class="uk-button uk-button-primary task_ignore_submit" data-modal="{{task.id}}_ignore" data-url="admin/tasks/ignore/{{task.id}}">Submit</button>
    </div>
  </div>
</div>
