<div class="uk-modal" aria-hidden="true" id="{{task.id}}_accept">
  <div class="uk-modal-dialog">
    <button type="button" class="uk-modal-close uk-close"></button>
    <div class="uk-margin uk-modal-content">
      <div class="uk-text-large">
        Accept task: <span class="uk-text-bold">{{task.description}}</span> ?
      </div>
    </div>
    <div class="uk-modal-footer uk-text-right">
      <button class="uk-button window_hide" data-modal="{{task.id}}_accept">Cancel</button>
      <button class="uk-button uk-button-primary accept_submit" data-modal="{{task.id}}_accept" data-url="admin/tasks/accept/{{task.id}}">Submit</button>
    </div>
  </div>
</div>
