<!DOCTYPE html>
<html class="uk-height-1-1" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rheticus</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/uikit.gradient.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/notify.gradient.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/progress.gradient.min.css') }}" />

    <script src="{{ url_for('static', filename='js/jquery-1.12.4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/uikit.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/notify.js') }}"></script>

    {% block head %}
    {% endblock %}
  </head>
  <body class="uk-height-1-1">
    <div class="uk-vertical-align uk-text-center uk-height-1-1">
        <div class="uk-vertical-align-middle" style="width: 250px;">

            <form action="{{ url_for('login.index') }}" method="post" class="uk-panel uk-panel-box uk-form">
                {{ form.csrf_token }}
                <div class="uk-form-row">
                    {{ form.login(placeholder="username", class_="uk-width-1-1 uk-form-large") }}
                </div>
                <div class="uk-form-row">
                    {{ form.passw(placeholder="password", class_="uk-width-1-1 uk-form-large") }}
                </div>
                <div class="uk-form-row">
                    <button class="uk-width-1-1 uk-button uk-button-primary uk-button-large" type="submit">Submit</button>
                </div>
            </form>
            <div class="uk-text-left">
                <p>Use the same username and password as for SSH access</p>
                <p>If you can not login, please contact support team</p>
            </div>
        </div>
    </div>
  </body>
</html>