<div class="uk-grid">
    <div class="uk-width-2-3 uk-panel uk-margin-top uk-margin-bottom" style="padding-left:50px;padding-right:50px;">
        <table id="{{user.id}}_info_table" class="uk-table uk-table-condensed">
            <tbody>
                <tr>
                    <td class="uk-width-1-10 uk-text-right">Name:</td>
                    <td class="uk-width-9-10 uk-text-left">{{user.fullname}}</td>
                </tr>
                <tr>
                    <td class="uk-width-1-10 uk-text-right">Email:</td>
                    <td class="uk-width-9-10 uk-text-left">{{user.email}}</td>
                </tr>
                <tr>
                    <td class="uk-width-1-10 uk-text-right">Login:</td>
                    <td class="uk-width-9-10 uk-text-left">{{user.login}}</td>
                </tr>
                <tr>
                    <td class="uk-width-1-10 uk-text-right">Linux ID:</td>
                    <td class="uk-width-9-10 uk-text-left">{{user.uid}}</td>
                </tr>
                <tr>
                    <td class="uk-width-1-10 uk-text-right">Projects:</td>
                    <td class="uk-width-9-10 uk-text-left">
                        {% if user.projects %}
                            {{user.projects | join(", ")}}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="uk-width-1-10 uk-text-right">Active tasks:</td>
                    <td class="uk-width-9-10 uk-text-left">
                        {% if user.todo %}
                            <ul>
                                {% for task in user.todo %}
                                    <li>{{task}}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="uk-width-1-10 uk-text-right">Phone:</td>
                    <td class="uk-width-9-10 uk-text-left">{% if user.phone %}{{user.phone}}{% endif %}</td>
                </tr>
                <tr>
                    <td class="uk-width-1-10 uk-text-right">Lab:</td>
                    <td class="uk-width-9-10 uk-text-left">{% if user.lab %}{{user.lab}}{% endif %}</td>
                </tr>
                <tr>
                    <td class="uk-width-1-10 uk-text-right">Position:</td>
                    <td class="uk-width-9-10 uk-text-left">{% if user.position %}{{user.position}}{% endif %}</td>
                </tr>
                <tr>
                    <td class="uk-width-1-10 uk-text-right">Active:</td>
                    <td class="uk-width-9-10 uk-text-left">{{user.active}}</td>
                </tr>
                <tr class="acl_info uk-hidden">
                    <td class="uk-width-1-10 uk-text-right">User:</td>
                    <td class="uk-width-9-10 uk-text-left">{{user.user}}</td>
                </tr>
                <tr class="acl_info uk-hidden">
                    <td class="uk-width-1-10 uk-text-right">Responsible:</td>
                    <td class="uk-width-9-10 uk-text-left">{{user.responsible}}</td>
                </tr>
                <tr class="acl_info uk-hidden">
                    <td class="uk-width-1-10 uk-text-right">Manager:</td>
                    <td class="uk-width-9-10 uk-text-left">{{user.manager}}</td>
                </tr>
                <tr class="acl_info uk-hidden">
                    <td class="uk-width-1-10 uk-text-right">Tech:</td>
                    <td class="uk-width-9-10 uk-text-left">{{user.tech}}</td>
                </tr>
                <tr class="acl_info uk-hidden">
                    <td class="uk-width-1-10 uk-text-right">Committee:</td>
                    <td class="uk-width-9-10 uk-text-left">{{user.committee}}</td>
                </tr>
                <tr class="acl_info uk-hidden">
                    <td class="uk-width-1-10 uk-text-right">Admin:</td>
                    <td class="uk-width-9-10 uk-text-left">{{user.admin}}</td>
                </tr>
                <tr class="tech_info uk-hidden">
                    <td class="uk-width-1-10 uk-text-right">Comment:</td>
                    <td class="uk-width-9-10 uk-text-left">{{user.comment}}</td>
                </tr>
                <tr class="tech_info uk-hidden">
                    <td class="uk-width-1-10 uk-text-right uk-text-nowrap">Database ID:</td>
                    <td class="uk-width-9-10 uk-text-left">{{user.id}}</td>
                </tr>
                <tr class="tech_info uk-hidden">
                    <td class="uk-width-1-10 uk-text-right">Created:</td>
                    <td class="uk-width-9-10 uk-text-left">{{user.created}}</td>
                </tr>
                <tr class="tech_info uk-hidden">
                    <td class="uk-width-1-10 uk-text-right">Modified:</td>
                    <td class="uk-width-9-10 uk-text-left">{{user.modified}}</td>
                </tr>
                <tr class="tech_info uk-hidden">
                    <td class="uk-width-1-10 uk-text-right uk-text-nowrap">ACL ID:</td>
                    <td class="uk-width-9-10 uk-text-left">{{user.acl_id}}</td>
                </tr>
                <tr class="tech_info uk-hidden">
                    <td class="uk-width-1-10 uk-text-right uk-text-nowrap">ACL created:</td>
                    <td class="uk-width-9-10 uk-text-left">{{user.acl_created}}</td>
                </tr>
                <tr class="tech_info uk-hidden">
                    <td class="uk-width-1-10 uk-text-right uk-text-nowrap">ACL modified:</td>
                    <td class="uk-width-9-10 uk-text-left">{{user.acl_modified}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="uk-width-1-3 uk-margin-top uk-margin-bottom">
        {% if not user.active %}
            <button class="uk-button uk-width-1-1 uk-margin-small-bottom user_activate uk-button-primary" data-modal="{{user.login}}_activate" data-user="{{user.login}}"><span class="uk-icon-edit uk-margin-small-right"></span>Activate user</button>
        {% endif %}
        <button class="uk-button uk-width-1-1 uk-margin-small-bottom ed_mail uk-button-primary" data-modal="{{user.login}}_edit"><span class="uk-icon-edit uk-margin-small-right"></span>Change personal info</button>
        <button class="uk-button uk-width-1-1 uk-margin-small-bottom set uk-button-danger" data-modal="{{user.login}}_set"><span class="uk-icon-eraser uk-margin-small-right"></span>Set password</button>
        <button class="uk-button uk-width-1-1 uk-margin-small-bottom reset uk-button-danger" data-modal="{{user.login}}_reset"><span class="uk-icon-recycle uk-margin-small-right"></span>Reset password</button>
        <button class="uk-button uk-width-1-1 uk-margin-small-bottom" data-uk-toggle="{target:'.acl_info'}">Toggle access rights</button>
        <button class="uk-button uk-width-1-1 uk-margin-small-bottom" data-uk-toggle="{target:'.tech_info'}">Toggle technical details</button>
    </div>
</div>
{% include "modals/registry_reset_password.html" %}