<div class="uk-grid">
    <div class="uk-width-medium-1-2">
        <table class="uk-table uk-width-medium-1-2">
            <tbody>
                <tr>
                    <td class="uk-text-right uk-text-nowrap"><span class="uk-text-bold">Load</span> last minute:</td>
                    <td>{{ load.load_1 }}</td>
                </tr>
                <tr>
                    <td class="uk-text-right uk-text-nowrap">last 5 minutes:</td>
                    <td>{{ load.load_5 }}</td>
                </tr>
                <tr>
                    <td class="uk-text-right uk-text-nowrap">last 15 minutes:</td>
                    <td>{{ load.load_15 }}</td>
                </tr>
                <tr>
                    <td class="uk-text-right uk-text-nowrap"><span class="uk-text-bold">Memory</span> total:</td>
                    <td>{{ mem["total"] }}</td>
                </tr>
                <tr>
                    <td class="uk-text-right uk-text-nowrap">available:</td>
                    <td>{{ mem["available"] }}</td>
                </tr>
                <tr>
                    <td class="uk-text-right uk-text-nowrap">used:</td>
                    <td>{{ mem["used"] }}</td>
                </tr>
                <tr>
                    <td class="uk-text-right uk-text-nowrap"><span class="uk-text-bold">Swap</span> total:</td>
                    <td>{{ swap["total"] }}</td>
                </tr>
                <tr>
                    <td class="uk-text-right uk-text-nowrap">available:</td>
                    <td>{{ swap["available"] }}</td>
                </tr>
                <tr>
                    <td class="uk-text-right uk-text-nowrap">used:</td>
                    <td>{{ swap["used"] }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="uk-width-medium-1-2">
        <ol>
            {% for user in users %}
                {% if user in g.user_list %}
                    <li><a href="users/{{ user }}">{{ user }}</a></li>
                {% else %}
                    <li>{{ user }}</li>
                {% endif %}
            {% endfor %}
        </ol>
    </div>
</div>