<div class="uk-grid">
    <div class="uk-width-medium-1-2">
        <div class="uk-panel">
            <div class="uk-panel">
                <h3>Load</h3>
                <p>Load 1min: {{ load.load_1 }}</p>
                <p>Load 1min: {{ load.load_5 }}</p>
                <p>Load 1min: {{ load.load_15 }}</p>
            </div>
            <div class="uk-panel">
                <h3>Memory</h3>
                <p>Total: {{ mem["total"] }}</p>
                <p>Available: {{ mem["available"] }}</p>
                <p>Used: {{ mem["used"] }}</p>
            <div class="uk-panel">
            </div>
                <h3>Swap</h3>
                <p>Total: {{ swap["total"] }}</p>
                <p>Available: {{ swap["available"] }}</p>
                <p>Used: {{ swap["used"] }}</p>
            </div>
        </div>
    </div>
    <div class="uk-width-medium-1-2">
        <ol>
            {% for user in users %}
                {% if user in g.user_list %}
                    <li><a href="users/{{ user }}">{{ user }}</a></li>
                {% else %}
                    <li>{{ user }}</li>
                {% endif %}
            {% endfor %}
        </ol>
    </div>
</div>