    <div class="uk-width-3-4 uk-panel uk-margin-top uk-margin-bottom" style="padding-left:50px;padding-right:50px;">
        <table id="{{task.id}}_task_table" class="uk-table uk-table-condensed">
            <tbody>
                <tr>
                    <td class="uk-width-1-10 uk-text-right">ID:</td>
                    <td class="uk-width-9-10 uk-text-left">{{task.id}}</td>
                </tr>
                <tr>
                    <td class="uk-width-1-10 uk-text-right">Description:</td>
                    <td class="uk-width-9-10 uk-text-left">{{task.description()}}</td>
                </tr>
                <tr>
                    <td class="uk-width-1-10 uk-text-right">Created:</td>
                    <td class="uk-width-9-10 uk-text-left">{{task.created}}</td>
                </tr>
                <tr>
                    <td class="uk-width-1-10 uk-text-right">Modified:</td>
                    <td class="uk-width-9-10 uk-text-left">{{task.modified}}</td>
                </tr>
                <tr>
                    <td class="uk-width-1-10 uk-text-right">Author:</td>
                    <td class="uk-width-9-10 uk-text-left">
                        {% if task.author %}
                            {{task.author.full()}}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="uk-width-1-10 uk-text-right">Approve:</td>
                    <td class="uk-width-9-10 uk-text-left">
                        {% if task.approve %}
                            {{task.approve.full()}}
                        {% endif%}
                    </td>
                </tr>
                <tr>
                    <td class="uk-width-1-10 uk-text-right">Processed:</td>
                    <td class="uk-width-9-10 uk-text-left">{{task.processed}}</td>
                </tr>
                <tr>
                    <td class="uk-width-1-10 uk-text-right">Decision:</td>
                    <td class="uk-width-9-10 uk-text-left">{{task.decision | capitalize }}</td>
                </tr>
                <tr>
                    <td class="uk-width-1-10 uk-text-right">Done:</td>
                    <td class="uk-width-9-10 uk-text-left">{{task.done}}</td>
                </tr>
                {% if task.result %}
                    <tr>
                        <td class="uk-width-1-10 uk-text-right">Result:</td>
                        <td class="uk-width-9-10 uk-text-left">{{task.result}}</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    <div class="uk-width-1-4 uk-margin-top uk-margin-bottom">
        <button class="uk-button uk-width-1-1 uk-margin-small-bottom edit" data-modal="{{ task.id }}_edit"><span class="uk-icon-edit uk-margin-small-right"></span>Edit</button>
        {% if task.decision == None %}
            <button class="uk-button uk-width-1-1 uk-margin-small-bottom accept" data-modal="{{ task.id }}_accept"><span class="uk-icon-thumbs-o-up uk-margin-small-right"></span>Accept</button>
            <button class="uk-button uk-width-1-1 uk-margin-small-bottom ignore" data-modal="{{ task.id }}_ignore"><span class="uk-icon-thumbs-o-down uk-margin-small-right"></span>Ignore</button>
            <button class="uk-button uk-button-danger uk-width-1-1 uk-margin-small-bottom reject" data-modal="{{ task.id }}_reject"><span class="uk-icon-thumbs-down uk-margin-small-right"></span>Reject</button>
        {% endif %}
    </div>